# Python functies voor Odata4
Functies voor ophalen, inspecteren en samenvoegen van data van CBS

## Meer info

- https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/snelstartgids-odata-v4
- https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/metadata-odata-v4
- Ook code voor R beschikbaar.

# Definieren functies

In [1]:
import pandas as pd
import requests
import re

In [2]:
import pandas as pd
import requests

def get_odata(target_url):
    
    """"
    De functie gebruikt een API genaamd OData om data van het CBS op te halen.
    De data wordt in stukken opgehaald en in een pandas dataframe gezet.
    De URL moet er zo uitzien: "https://odata4.cbs.nl/CBS/83765NED"
    De code van de tabel die je zoekt vindt je via Statline.
    Ga naar de data in Statline op de website van het CBS en kijk naar de URL om de code te vinden.
    """
    
    data = pd.DataFrame()
    while target_url:
        r = requests.get(target_url).json()
        data = data.append(pd.DataFrame(r['value']))
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

De functie gebruikt een API genaamd OData om data van het CBS op te halen.
De data wordt in stukken opgehaald en in een pandas dataframe gezet.
De URL moet er zo uitzien: "https://odata4.cbs.nl/CBS/83765NED"
De code van de tabel die je zoekt vindt je via Statline.
Ga naar de data in Statline op de website van het CBS en kijk naar de URL om de code te vinden.
Deze API is hierarchisch.

In [3]:
def get_observations(table_url, url_filter = ""):
    
    """Haal de tabel met metingen op. Filteren om minder of specifiekere data op te vragen is mogelijk as volgt:
    url_filter = ?$filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'
    Door de filteren op deze kolommen kun je een plaats (land, gemeente, wijk of buurt) en dan een soort meting kiezen.
    De website van het CBS vermeldt niet hoe je op meerdere waarden in één kolom filtert. 
    Die mogelijkheid bestaat waarschijnlijk wel. Je hoeft niet beide kolommen te gebruiken voor het filter.
    """
    
    if url_filter == "":
        target_url = table_url + "/Observations"
    elif "?$filter=" in url_filter:
        target_url = table_url + "/Observations" + url_filter
    else:
        print("WAARSCHUWING! FILTER NIET GOED GEFORMATTEERD. VERGELIJK MET VOORBEELDEN OF GA NAAR ")
        print("\n https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4")
        print("\n http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752358")
        print("\n sectie 5.1.1.5")
        #return None
        pass
    
    data = get_odata(target_url)
    print(data.head())
    
    return(data)

url_voorbeeld = "https://odata4.cbs.nl/CBS/83765NED"

# Wat is de structuur van de data?

In [4]:
data_structuur = get_odata(url_voorbeeld)
print(data_structuur)
data_Mcodes = get_odata(url_voorbeeld+"/MeasureCodes")
print(data_Mcodes.columns)

        kind                   name                    url
0  EntitySet          MeasureGroups          MeasureGroups
1  EntitySet           MeasureCodes           MeasureCodes
2  EntitySet             Dimensions             Dimensions
3  EntitySet  WijkenEnBuurtenGroups  WijkenEnBuurtenGroups
4  EntitySet   WijkenEnBuurtenCodes   WijkenEnBuurtenCodes
5  EntitySet           Observations           Observations
6  Singleton             Properties             Properties
Index(['DataType', 'Decimals', 'Description', 'Format', 'Identifier', 'Index',
       'MeasureGroupId', 'PresentationType', 'Title', 'Unit'],
      dtype='object')

In [50]:
# Maak een csv van de codes om ze in Excel goed te bekijken
data_Mcodes.to_csv("MeasureCodes.csv", sep=";", na_rep="None")
data_Mcodes[['Title','Description','Identifier','MeasureGroupId']].to_csv("features_alles.csv", sep=";", na_rep="None")
data_Mcodes
#data_Mcodes['Title'].values
#data_Mcodes["Identifier"]

,DataType,Decimals,Description,Format,Identifier,Index,MeasureGroupId,PresentationType,Title,Unit
0,Long,0,,None,T001036,7,M000352,Absolute,Aantal inwoners,aantal
1,Long,0,,None,3000,9,T001038,Absolute,Mannen,aantal
2,Long,0,,None,4000,10,T001038,Absolute,Vrouwen,aantal
3,Long,0,Aantal inwoners dat op 1 januari 0 tot 15 jaar...,None,10680,12,10000,Absolute,0 tot 15 jaar,aantal
4,Long,0,Aantal inwoners dat op 1 januari 15 tot 25 jaa...,None,53050,13,10000,Absolute,15 tot 25 jaar,aantal
5,Long,0,Aantal inwoners dat op 1 januari 25 tot 45 jaa...,None,53310,14,10000,Absolute,25 tot 45 jaar,aantal
6,Long,0,Aantal inwoners dat op 1 januari 45 tot 65 jaa...,None,53715,15,10000,Absolute,45 tot 65 jaar,aantal
7,Long,0,Aantal inwoners dat op 1 januari 65 jaar of ou...,None,80200,16,10000,Absolute,65 jaar of ouder,aantal
8,Long,0,Het aantal inwoners dat op 1 januari ongehuwd ...,None,1010,18,T001019,Absolute,Ongehuwd,aantal
9,Long,0,Het aantal inwoners dat op 1 januari gehuwd is...,None,1020,19,T001019,Absolute,Gehuwd,aantal
10,Long,0,Het aantal inwoners dat op 1 januari gescheide...,None,1080,20,T001019,Absolute,Gescheiden,aantal
11,Long,0,Het aantal inwoners dat op 1 januari verweduwd...,None,1050,21,T001019,Absolute,Verweduwd,aantal
12,Long,0,Persoon met een migratieachtergrond met als he...,None,2012655,23,2012605,Absolute,Westers totaal,aantal
13,Long,0,,None,2012657_2,25,2012657_1,Absolute,Niet-westers totaal,aantal
14,Long,0,,None,H008673,26,2012657_1,Absolute,Marokko,aantal
15,Long,0,(voormalige) Nederlandse Antillen en Aruba\r\n...,None,H007119,27,2012657_1,Absolute,Nederlandse Antillen en Aruba,aantal
16,Long,0,,None,H008751,28,2012657_1,Absolute,Suriname,aantal
17,Long,0,,None,H008766,29,2012657_1,Absolute,Turkije,aantal
18,Long,0,"Totaal niet-westers minus Marokko, (voormalige...",None,A008187,30,2012657_1,Absolute,Overig niet-westers,aantal
19,Long,0,Het aantal levendgeborenen van 1 januari tot e...,None,M000173_1,32,M000314,Absolute,Geboorte totaal,aantal
20,Long,0,Het aantal levendgeborenen van 1 januari tot e...,None,M000173_2,33,M000314,Relative,Geboorte relatief,per 1 000 inwoners
21,Long,0,Alle overledenen van 1 januari tot en met 31 d...,None,M000179_1,34,M000314,Absolute,Sterfte totaal,aantal
22,Long,0,Het aantal overledenen van 1 januari tot en me...,None,M000179_2,35,M000314,Relative,Sterfte relatief,per 1 000 inwoners
23,Long,0,Totaal particuliere huishoudens.,None,1050010_2,37,1050010_1,Absolute,Huishoudens totaal,aantal
24,Long,0,Een particulier huishouden bestaande uit één p...,None,1050015,38,1050010_1,Absolute,Eenpersoonshuishoudens,aantal
25,Long,0,Meerpersoonshuishoudens zonder kinderen bestaa...,None,1016040,39,1050010_1,Absolute,Huishoudens zonder kinderen,aantal
26,Long,0,Meerpersoonshuishoudens met kinderen bestaan u...,None,1016030,40,1050010_1,Absolute,Huishoudens met kinderen,aantal
27,Double,1,Dit gemiddelde is berekend als het aantal in p...,None,M000114,41,1050010_1,Absolute,Gemiddelde huishoudensgrootte,aantal
28,Long,0,Het (niet afgeronde) aantal inwoners per km² l...,None,M000100,42,M000352,Relative,Bevolkingsdichtheid,aantal inwoners per km²
29,Long,0,Het totale aantal woningen op 1 januari van he...,None,M000297,44,M000296,Absolute,Woningvoorraad,aantal
...,...,...,...,...,...,...,...,...,...,...
73,Long,0,Het betreft voorlopige cijfers.,None,M000200_2,105,M000200_1,Absolute,Bedrijfsvestigingen totaal,aantal
74,Long,0,Het betreft voorlopige cijfers.,None,301000,107,M000200_3,Absolute,"A Landbouw, bosbouw en visserij",aantal
75,Long,0,Het betreft voorlopige cijfers.,None,300003,108,M000200_3,Absolute,B-F Nijverheid en energie,aantal
76,Long,0,Het betreft voorlopige cijfers.,None,300005,109,M000200_3,Absolute,G+I Handel en horeca,aantal
77,Long,0,Het betreft voorlopige cijfers.,None,383105,110,M000200_3,Absolute,"H+J Vervoer, informatie en communicatie",aantal
78,Long,0,Het betreft voorlopige cijfers.,None,300009,111,M000200_3,Absolute,"K-L Financiële diensten, onroerend goed",aantal
79,Long,0,Het betreft voorlopige cijfers.,None,300010,112,M000200_3,Absolute,M-N Zakelijke dienstverlening,aantal
80,Long,0,Het betreft voorlopige cijfers.,None,300014,113,M000200_3,Absolute,"R-U Cultuur, recreatie, overige diensten",aantal
81,Long,0,Personenauto\r\nMotorvoertuig voor personenver...,None,A018943_2,116,A018943_1,Absolute,Personenauto's totaal,aantal
82,Long,0,Het aantal personenauto's jonger dan 6 jaar. D...,None,40001,118,A018943_3,Absolute,Personenauto's; jonger dan 6 jaar,aantal
83,Long,0,Het aantal personenauto's van 6 jaar en ouder....,None,72003,119,A018943_3,Absolute,Personenauto's; 6 jaar en ouder,aantal
84,Long,0,Het aantal personenauto's rijdend op benzine.,None,A019276,121,A018943_4,Absolute,Personenauto's; brandstof benzine,aantal
85,Long,0,Het aantal personenauto's met overige brandsto...,None,M002179,122,A018943_4,Absolute,Personenauto's; overige brandstof,aantal
86,Double,1,Het aantal personenauto's per (particulier) hu...,None,M000368,123,A018943_1,Absolute,Personenauto's per huishouden,per huishouden
87,Long,0,Het aantal personenauto's per km² land op 1 ja...,None,A018943_5,124,A018943_1,Relative,Personenauto's naar oppervlakte,per km²
88,Long,0,Motorfiets\r\nVoertuig voor het wegverkeer op ...,None,A018944,125,A018928,Absolute,Motorfietsen,aantal
89,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000028,127,D000349,Absolute,Afstand tot huisartsenpraktijk,km
90,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000025,128,D000349,Absolute,Afstand tot grote supermarkt,km
91,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000029,129,D000349,Absolute,Afstand tot kinderdagverblijf,km
92,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000045,131,A025280,Absolute,Afstand tot school,km
93,Double,1,Het gemiddeld aantal scholen binnen 3 kilomete...,None,D000263,132,A025280,Absolute,Scholen binnen 3 km,aantal
94,Long,0,De totale oppervlakte is de som van de oppervl...,None,T001455_2,134,T001455_1,Absolute,Oppervlakte totaal,ha
95,Long,0,De oppervlakte land is bepaald door het meest ...,None,A047044,135,T001455_1,Absolute,Oppervlakte land,ha
96,Long,0,Oppervlakte water omvat zowel binnen- als buit...,None,A047040,136,T001455_1,Absolute,Oppervlakte water,ha
97,Integer,0,Indicatie (in zes klassen) van het percentage ...,None,M000217,139,PC000B,Absolute,Dekkingspercentage,code
98,Integer,0,Op grond van de omgevingsadressendichtheid is ...,None,ST0001,141,T001086,Absolute,Mate van stedelijkheid,code
99,Long,0,De omgevingsadressendichtheid (OAD) van een bu...,None,ST0003,142,T001086,Relative,Omgevingsadressendichtheid,per km²
100,Long,0,Deze regel geeft het totaal weer van 'Diefstal...,None,CRI1100,144,T001161,Relative,Totaal diefstal uit woning/schuur/e.d.,per 1 000 inwoners
101,Long,0,,None,CRI2000,145,T001161,Relative,"Vernieling, misdrijf tegen openbare orde",per 1 000 inwoners
102,Long,0,,None,CRI3000,146,T001161,Relative,Gewelds- en seksuele misdrijven,per 1 000 inwoners

In [20]:
# het voorbeeld van de website van CBS:
#table_url = "https://odata4.cbs.nl/CBS/83765NED"

#target_url = table_url + "/Observations"
#data = get_odata(target_url)
#print(data.head())

   Id  Measure       Value ValueAttribute WijkenEnBuurten
0   0  T001036  17081507.0           None            NL00
1   1     3000   8475102.0           None            NL00
2   2     4000   8606405.0           None            NL00
3   3    10680   2781768.0           None            NL00
4   4    53050   2101648.0           None            NL00

In [3]:
#tabel 2019
#lastyear_url = "https://odata4.cbs.nl/CBS/84583NED"

              name                                                url
0       TableInfos  https://opendata.cbs.nl/oDataAPI/OData/84583NE...
1   UntypedDataSet  https://opendata.cbs.nl/oDataAPI/OData/84583NE...
2     TypedDataSet  https://opendata.cbs.nl/oDataAPI/OData/84583NE...
3   DataProperties  https://opendata.cbs.nl/oDataAPI/OData/84583NE...
4   CategoryGroups  https://opendata.cbs.nl/oDataAPI/OData/84583NE...
5  WijkenEnBuurten  https://opendata.cbs.nl/oDataAPI/OData/84583NE...

## Filteren van query
Het filteren van de data maakt het downloaden sneller.
Het filteren van 'Observations' data kan door code van dit format achter de url te plakken:

**?$filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'**

De code uit de kolom WijkenEnBuurten kun je vinden met 

**get_odata(table_url + "/WijkenEnBuurtenCodes")**

De 'Title' kolom van deze tabel bevat de namen van wijken, zodat je kan zoeken met str.find, <>.str.contains of Regex.
Zoals wel vaken met tektskolommen moet je dan vertrouwen op de volledigheid en consistentie.
Achteraf controleren of je wel de juiste weijken hebt s dus wel aangeraden.
De kolom WijkenenBuurten bevat zowel landen, gemeenten, wijken als buurten.
Aan het voorvoegsel van twee letters kun je zien met welke soort regio je te maken hebt.

Zie https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4 voor meer uitleg.

Voor geavanceerdere filters moet je functies aanroepen in de URL.
Zie http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752358, sectie 5.1.1.5
Dat ziet er zo uit:
http://host/service/Customers?$filter=contains(CompanyName,'Alfreds')
of
http://host/service/Customers?$filter=contains(CompanyName,'Alfreds') and Country eq 'Netherlands'

Op deze manier kun je

In [10]:
table_test = get_observations(url_voorbeeld, url_filter="?$filter=contains(WijkenEnBuurten,'GM')")
#table_test = get_observations(url_voorbeeld)

    Id  Measure    Value ValueAttribute WijkenEnBuurten
0  103  T001036  25286.0           None          GM1680
1  104     3000  12603.0           None          GM1680
2  105     4000  12683.0           None          GM1680
3  106    10680   3572.0           None          GM1680
4  107    53050   2558.0           None          GM1680

In [11]:
print(table_test.columns)
print(table_test.head(30))
# Kolom ValueAttribute heeft geen waarden

Index(['Id', 'Measure', 'Value', 'ValueAttribute', 'WijkenEnBuurten'], dtype='object')
     Id    Measure    Value ValueAttribute WijkenEnBuurten
0   103    T001036  25286.0           None          GM1680
1   104       3000  12603.0           None          GM1680
2   105       4000  12683.0           None          GM1680
3   106      10680   3572.0           None          GM1680
4   107      53050   2558.0           None          GM1680
5   108      53310   4383.0           None          GM1680
6   109      53715   8467.0           None          GM1680
7   110      80200   6306.0           None          GM1680
8   111       1010   9951.0           None          GM1680
9   112       1020  11895.0           None          GM1680
10  113       1080   1793.0           None          GM1680
11  114       1050   1647.0           None          GM1680
12  115    2012655   1056.0           None          GM1680
13  116  2012657_2    528.0           None          GM1680
14  117    H008673     12.0           None          GM1680
15  118    H007119     34.0           None          GM1680
16  119    H008751     64.0           None          GM1680
17  120    H008766     10.0           None          GM1680
18  121    A008187    408.0           None          GM1680
19  122  M000173_1    164.0           None          GM1680
20  123  M000173_2      6.0           None          GM1680
21  124  M000179_1    265.0           None          GM1680
22  125  M000179_2     10.0           None          GM1680
23  126  1050010_2  10991.0           None          GM1680
24  127    1050015   3087.0           None          GM1680
25  128    1016040   4320.0           None          GM1680
26  129    1016030   3584.0           None          GM1680
27  130    M000114      2.2           None          GM1680
28  131    M000100     92.0           None          GM1680
29  132    M000297  11145.0           None          GM1680

In [13]:
# Deze tabel bevat alle gemeente, maar GEEN info over wijken en buurten
data_gemeenten = get_odata(url_voorbeeld+"/WijkenEnBuurtenGroups")
print(data_gemeenten.size)
print(data_gemeenten.columns)
print(data_gemeenten.head(10))
# ParentId geeft voor wijken de buurt aan, voor wijken de plaatsnaam, voorplaatsnamen de gemeente etc.

1960
Index(['Description', 'Id', 'Index', 'ParentId', 'Title'], dtype='object')
  Description      Id  Index ParentId                           Title
0        None    WBGM      0     None  Wijken en buurten per gemeente
1        None  GM1680      1     WBGM                     Aa en Hunze
2        None  GM0738      2     WBGM                         Aalburg
3        None  GM0358      3     WBGM                        Aalsmeer
4        None  GM0197      4     WBGM                          Aalten
5        None  GM0059      5     WBGM                   Achtkarspelen
6        None  GM0482      6     WBGM                    Alblasserdam
7        None  GM0613      7     WBGM                   Albrandswaard
8        None  GM0361      8     WBGM                         Alkmaar
9        None  GM0141      9     WBGM                          Almelo

In [14]:
filter_gemeente = data_gemeenten['Title'] == 'Oss'
print(data_gemeenten[filter_gemeente])
selectie_gem = data_gemeenten[filter_gemeente]['Id'].values[0]
selectie_gem

    Description      Id  Index ParentId Title
254        None  GM0828    254     WBGM   Oss

'GM0828'

In [15]:
# Deze tabel bevat codes van wijken en buurten en toont bij welke gemeente ze horen. De gemeenten staan er ook in.
data_geocodes = get_odata(url_voorbeeld+"/WijkenEnBuurtenCodes")
print(data_geocodes.size)
print(data_geocodes.columns)
print(data_geocodes.head(10))
# Ik denk dat DimensionGroupId te maken heeft met hierarchische indeling maar niet hetzelfde is als parentId.
# DetailRegionCode is hetzelfde als Identifier

100002
Index(['Description', 'DetailRegionCode', 'DimensionGroupId', 'Identifier',
       'Index', 'Title'],
      dtype='object')
  Description DetailRegionCode DimensionGroupId  Identifier  Index  \
0                         None               NL        NL00      1
1                       GM1680               GM      GM1680      2
2                     WK168000           GM1680    WK168000      3
3                   BU16800000           GM1680  BU16800000      4
4                   BU16800009           GM1680  BU16800009      5
5                     WK168001           GM1680    WK168001      6
6                   BU16800100           GM1680  BU16800100      7
7                   BU16800109           GM1680  BU16800109      8
8                     WK168002           GM1680    WK168002      9
9                   BU16800200           GM1680  BU16800200     10

                     Title
0                Nederland
1              Aa en Hunze
2            Wijk 00 Annen
3                    Annen
4  Verspreide huizen Annen
5             Wijk 01 Eext
6                     Eext
7   Verspreide huizen Eext
8            Wijk 02 Anloo
9                    Anloo

In [26]:
# Gebruik van Regular Expressions sterk aanbevolen om verschil met hele woorden te zien,
# Maakt implementatie wel iets ingewikkelder.
filter_BU = data_geocodes['Identifier'].str.contains("BU")
filter_WK = data_geocodes['Identifier'].str.contains("WK")

filter_BUWKopgem = data_geocodes['DimensionGroupId'] == selectie_gem
#print(data_geocodes[filter_BUWKopgem])
selectie_WK = data_geocodes[filter_WK & filter_BUWKopgem]["Identifier"]
print(selectie_WK)
#selectie_BU = data_geocodes[filter_BU & filter_BUWKopgem]["Identifier"]
#print(selectie_BU)

11353    WK082800
11357    WK082801
11365    WK082802
11369    WK082803
11378    WK082804
11384    WK082805
11389    WK082806
11400    WK082807
11411    WK082808
11416    WK082809
11422    WK082810
11428    WK082811
11432    WK082812
11436    WK082813
11440    WK082814
11446    WK082815
11450    WK082816
11454    WK082817
11460    WK082818
11463    WK082819
11468    WK082820
11471    WK082821
11477    WK082822
Name: Identifier, dtype: object

# Selecteren features en samenvoegen data

In [53]:
def feature_select(csv_file):
    """Inlezen van csv gebaseerd op de MeasureCodes met alleen de rijen van features die je wilt ophalen.
    Het verminderen van de hoeveelheid data maakt het ophalen van data sneller."""
    
    df = pd.read_csv(csv_file, sep=";")
    return df

#feature_select("features_test2.csv")
feature_selectie=feature_select("features_test2.csv")['Identifier']

,Unnamed: 0,Title,Description,Identifier,MeasureGroupId
0,0,Aantal inwoners,NaN,T001036,M000352
1,1,Mannen,NaN,3000,T001038
2,2,Vrouwen,NaN,4000,T001038
3,3,0 tot 15 jaar,Aantal inwoners dat op 1 januari 0 tot 15 jaar...,10680,10000
4,4,15 tot 25 jaar,Aantal inwoners dat op 1 januari 15 tot 25 jaa...,53050,10000
5,5,25 tot 45 jaar,Aantal inwoners dat op 1 januari 25 tot 45 jaa...,53310,10000
6,6,45 tot 65 jaar,Aantal inwoners dat op 1 januari 45 tot 65 jaa...,53715,10000
7,7,65 jaar of ouder,Aantal inwoners dat op 1 januari 65 jaar of ou...,80200,10000
8,8,Ongehuwd,Het aantal inwoners dat op 1 januari ongehuwd ...,1010,T001019
9,9,Gehuwd,Het aantal inwoners dat op 1 januari gehuwd is...,1020,T001019
10,10,Gescheiden,Het aantal inwoners dat op 1 januari gescheide...,1080,T001019
11,11,Verweduwd,Het aantal inwoners dat op 1 januari verweduwd...,1050,T001019
12,12,Westers totaal,Persoon met een migratieachtergrond met als he...,2012655,2012605
13,13,Niet-westers totaal,NaN,2012657_2,2012657_1
14,14,Marokko,NaN,H008673,2012657_1
15,15,Nederlandse Antillen en Aruba,(voormalige) Nederlandse Antillen en Aruba\r\n...,H007119,2012657_1
16,16,Suriname,NaN,H008751,2012657_1
17,17,Turkije,NaN,H008766,2012657_1
18,18,Overig niet-westers,"Totaal niet-westers minus Marokko, (voormalige...",A008187,2012657_1
19,19,Geboorte totaal,Het aantal levendgeborenen van 1 januari tot e...,M000173_1,M000314
20,20,Geboorte relatief,Het aantal levendgeborenen van 1 januari tot e...,M000173_2,M000314
21,21,Sterfte totaal,Alle overledenen van 1 januari tot en met 31 d...,M000179_1,M000314
22,22,Sterfte relatief,Het aantal overledenen van 1 januari tot en me...,M000179_2,M000314
23,23,Huishoudens totaal,Totaal particuliere huishoudens.,1050010_2,1050010_1
24,24,Eenpersoonshuishoudens,Een particulier huishouden bestaande uit één p...,1050015,1050010_1
25,25,Huishoudens zonder kinderen,Meerpersoonshuishoudens zonder kinderen bestaa...,1016040,1050010_1
26,26,Huishoudens met kinderen,Meerpersoonshuishoudens met kinderen bestaan u...,1016030,1050010_1
27,27,Gemiddelde huishoudensgrootte,Dit gemiddelde is berekend als het aantal in p...,M000114,1050010_1
28,28,Bevolkingsdichtheid,Het (niet afgeronde) aantal inwoners per km² l...,M000100,M000352
29,29,Woningvoorraad,Het totale aantal woningen op 1 januari van he...,M000297,M000296
...,...,...,...,...,...
73,73,Bedrijfsvestigingen totaal,Het betreft voorlopige cijfers.,M000200_2,M000200_1
74,74,"A Landbouw, bosbouw en visserij",Het betreft voorlopige cijfers.,301000,M000200_3
75,75,B-F Nijverheid en energie,Het betreft voorlopige cijfers.,300003,M000200_3
76,76,G+I Handel en horeca,Het betreft voorlopige cijfers.,300005,M000200_3
77,77,"H+J Vervoer, informatie en communicatie",Het betreft voorlopige cijfers.,383105,M000200_3
78,78,"K-L Financiële diensten, onroerend goed",Het betreft voorlopige cijfers.,300009,M000200_3
79,79,M-N Zakelijke dienstverlening,Het betreft voorlopige cijfers.,300010,M000200_3
80,80,"R-U Cultuur, recreatie, overige diensten",Het betreft voorlopige cijfers.,300014,M000200_3
81,81,Personenauto's totaal,Personenauto\r\nMotorvoertuig voor personenver...,A018943_2,A018943_1
82,82,Personenauto's; jonger dan 6 jaar,Het aantal personenauto's jonger dan 6 jaar. D...,40001,A018943_3
83,83,Personenauto's; 6 jaar en ouder,Het aantal personenauto's van 6 jaar en ouder....,72003,A018943_3
84,84,Personenauto's; brandstof benzine,Het aantal personenauto's rijdend op benzine.,A019276,A018943_4
85,85,Personenauto's; overige brandstof,Het aantal personenauto's met overige brandsto...,M002179,A018943_4
86,86,Personenauto's per huishouden,Het aantal personenauto's per (particulier) hu...,M000368,A018943_1
87,87,Personenauto's naar oppervlakte,Het aantal personenauto's per km² land op 1 ja...,A018943_5,A018943_1
88,88,Motorfietsen,Motorfiets\r\nVoertuig voor het wegverkeer op ...,A018944,A018928
89,89,Afstand tot huisartsenpraktijk,De gemiddelde afstand van alle inwoners in een...,D000028,D000349
90,90,Afstand tot grote supermarkt,De gemiddelde afstand van alle inwoners in een...,D000025,D000349
91,91,Afstand tot kinderdagverblijf,De gemiddelde afstand van alle inwoners in een...,D000029,D000349
92,92,Afstand tot school,De gemiddelde afstand van alle inwoners in een...,D000045,A025280
93,93,Scholen binnen 3 km,Het gemiddeld aantal scholen binnen 3 kilomete...,D000263,A025280
94,94,Oppervlakte totaal,De totale oppervlakte is de som van de oppervl...,T001455_2,T001455_1
95,95,Oppervlakte land,De oppervlakte land is bepaald door het meest ...,A047044,T001455_1
96,96,Oppervlakte water,Oppervlakte water omvat zowel binnen- als buit...,A047040,T001455_1
97,97,Dekkingspercentage,Indicatie (in zes klassen) van het percentage ...,M000217,PC000B
98,98,Mate van stedelijkheid,Op grond van de omgevingsadressendichtheid is ...,ST0001,T001086
99,99,Omgevingsadressendichtheid,De omgevingsadressendichtheid (OAD) van een bu...,ST0003,T001086
100,100,Totaal diefstal uit woning/schuur/e.d.,Deze regel geeft het totaal weer van 'Diefstal...,CRI1100,T001161
101,101,"Vernieling, misdrijf tegen openbare orde",NaN,CRI2000,T001161
102,102,Gewelds- en seksuele misdrijven,NaN,CRI3000,T001161

In [29]:
def feature_reader(text_file):
    """Snel inlezen van een leesbaar tekstbestand met namen van features.
    Niet meer gebruiken, want het bevat de codes niet en is dus niet bruikbaar voor het bewerken van dataframes."""
    features = open(text_file,"r")
    features = features.readlines()
    features2 = ""
    for line in features:
        features2 += line
    # Verwijder \n, scheid op , en verwijder spaties aan begin
    features2 = re.sub("\n", "", features2)
    features2 = re.split(",", features2)
    features = []
    for feat in features2:
        features.append(re.sub("^ ","", feat))
        
    return features

#features = feature_reader("features_test1.txt")
#features

In [30]:
# gebruik 
url_test = "?$filter=WijkenEnBuurten eq '"+selectie_gem+"'"
# Alleen op deze manier kan je een ID uit de geografische tabel in het url-filter plaatsen. Ook de spaties tellen.)
data_observations = get_observations(url_voorbeeld, url_filter=url_test)
data_observations.head()

        Id  Measure   Value ValueAttribute WijkenEnBuurten
0  1169358  CRI3000     4.0           None          GM0828
1  1169357  CRI2000     5.0           None          GM0828
2  1169356  CRI1100     3.0           None          GM0828
3  1169355   ST0003  1360.0           None          GM0828
4  1169354   ST0001     3.0           None          GM0828

        Id  Measure   Value ValueAttribute WijkenEnBuurten
0  1169358  CRI3000     4.0           None          GM0828
1  1169357  CRI2000     5.0           None          GM0828
2  1169356  CRI1100     3.0           None          GM0828
3  1169355   ST0003  1360.0           None          GM0828
4  1169354   ST0001     3.0           None          GM0828

In [31]:
data_observations["Measure"]

0        CRI3000
1        CRI2000
2        CRI1100
3         ST0003
4         ST0001
5        A047040
6        A047044
7      T001455_2
8        D000263
9        D000045
10       D000029
11       D000025
12       D000028
13       A018944
14     A018943_5
15       M000368
16       M002179
17       A019276
18         72003
19         40001
20     A018943_2
21        300014
22        300010
23        300009
24        383105
25        300005
26        300003
27        301000
28     M000200_2
29       D000193
         ...
71       M000297
72       M000100
73       M000114
74       1016030
75       1016040
76       1050015
77     1050010_2
78     M000179_2
79     M000179_1
80     M000173_2
81     M000173_1
82       A008187
83       H008766
84       H008751
85       H007119
86       H008673
87     2012657_2
88       2012655
89          1050
90          1080
91          1020
92          1010
93         80200
94         53715
95         53310
96         53050
97         10680
98          4000
99          3000
100      T001036
Name: Measure, Length: 101, dtype: object

In [47]:
test2 = table_test.pivot(index="Id", columns="Measure", values="Value") # Zelfs voor hele dataset snel te doen
test2 = test2.merge(table_test[["Id","WijkenEnBuurten"]], how="left", left_index=True, right_on="Id").drop("Id", axis=1)
#test2.head(20)
#test2.groupby("WijkenEnBuurten").first()
# Deze tabel heeft het gewenste format.

In [43]:
def formatteer_tabel(df):
    """Formatteert een tabel met observaties naar een formaat met één kolom voor elke meting en één rij per plaats.
    De codes voor plaatsen worden de index, de kolommen krijgen als naam de Identifier van de measure.
    Dat betekent dat extra informatie over de hierarchie van measures of plaatsen nog moet worden toegevoegd.
    Deze functie verwijdert dubbele waarden en vult NaN's niet in."""
    
    df2 = df.pivot(index="Id", columns="Measure", values="Value")
    df2 = df2.merge(df[["Id","WijkenEnBuurten"]], how="left", left_index=True, right_on="Id").drop("Id", axis=1)
    df2 = df2.groupby("WijkenEnBuurten").first()
    return df2

formatteer_tabel(table_test)

,1010,1014800_1,1014800_2,1014800_3,1014850_2,1014850_3,1014850_4,1016030,1016040,1020,...,ZW10320_2,ZW10340,ZW25805_1,ZW25805_2,ZW25806_1,ZW25806_2,ZW25807,ZW25808,ZW25810_1,ZW25810_2
WijkenEnBuurten,,,,,,,,,,,,,,,,,,,,,
GM0003,5075.0,48.0,2830.0,1630.0,51.0,2140.0,1220.0,1733.0,1800.0,4997.0,...,1960.0,28.0,2560.0,1360.0,2650.0,1550.0,15.0,85.0,1790.0,960.0
GM0005,4599.0,68.0,2830.0,1680.0,31.0,2070.0,1280.0,1580.0,1526.0,4720.0,...,2020.0,14.0,2530.0,1380.0,2520.0,1510.0,14.0,86.0,1690.0,890.0
GM0007,3259.0,71.0,3520.0,2040.0,28.0,2370.0,1620.0,1179.0,1606.0,4294.0,...,2130.0,6.0,2230.0,1470.0,2400.0,1630.0,6.0,94.0,1810.0,1080.0
GM0009,3231.0,77.0,2890.0,1730.0,23.0,2100.0,1340.0,1176.0,987.0,3137.0,...,2000.0,9.0,2530.0,1440.0,2570.0,1610.0,15.0,85.0,1740.0,780.0
GM0010,10264.0,62.0,2890.0,1670.0,37.0,2160.0,1310.0,3585.0,3815.0,10894.0,...,2000.0,22.0,2650.0,1400.0,2660.0,1570.0,9.0,91.0,1750.0,1020.0
GM0014,137073.0,38.0,2720.0,1360.0,61.0,2010.0,1100.0,21628.0,25353.0,44753.0,...,2230.0,64.0,2730.0,1320.0,2910.0,1530.0,13.0,87.0,1910.0,1050.0
GM0015,5660.0,72.0,3480.0,1870.0,26.0,2210.0,1470.0,2032.0,1528.0,5322.0,...,2030.0,8.0,2290.0,1380.0,2500.0,1480.0,15.0,85.0,1750.0,940.0
GM0017,8530.0,69.0,3330.0,2100.0,31.0,2130.0,1380.0,2821.0,2753.0,8250.0,...,3020.0,23.0,2670.0,1510.0,2790.0,1680.0,9.0,91.0,1900.0,1110.0
GM0018,15280.0,56.0,3080.0,1710.0,43.0,2240.0,1210.0,5094.0,4842.0,13684.0,...,2260.0,30.0,2700.0,1380.0,2850.0,1600.0,15.0,85.0,1980.0,970.0
GM0022,8549.0,64.0,3370.0,1760.0,36.0,2380.0,1410.0,3040.0,2797.0,8592.0,...,2130.0,14.0,2690.0,1390.0,2800.0,1530.0,17.0,83.0,1990.0,1120.0
GM0024,4294.0,65.0,2940.0,1910.0,34.0,2280.0,1510.0,1450.0,1513.0,4364.0,...,2020.0,9.0,2400.0,1440.0,2680.0,1640.0,6.0,94.0,1450.0,800.0
GM0025,4723.0,72.0,3530.0,1910.0,28.0,2320.0,1510.0,1707.0,1419.0,4537.0,...,2120.0,7.0,2360.0,1320.0,2620.0,1540.0,16.0,84.0,1840.0,820.0
GM0034,104109.0,64.0,3390.0,490.0,36.0,2470.0,400.0,37117.0,20397.0,72978.0,...,1000.0,26.0,3250.0,440.0,3370.0,530.0,31.0,69.0,2120.0,290.0
GM0037,12983.0,59.0,3340.0,1900.0,39.0,2200.0,1280.0,4626.0,4899.0,14281.0,...,2200.0,22.0,2620.0,1510.0,2770.0,1640.0,12.0,88.0,1850.0,890.0
GM0040,6441.0,72.0,3300.0,1840.0,27.0,2270.0,1470.0,2338.0,2201.0,6604.0,...,2030.0,8.0,2410.0,1510.0,2430.0,1580.0,13.0,87.0,1980.0,830.0
GM0047,11568.0,64.0,3160.0,1850.0,35.0,2090.0,1340.0,4221.0,4061.0,11766.0,...,2210.0,21.0,2610.0,1550.0,2770.0,1720.0,10.0,90.0,1810.0,980.0
GM0048,6276.0,62.0,3480.0,2020.0,32.0,2450.0,1560.0,2158.0,2613.0,7150.0,...,2190.0,20.0,2650.0,1550.0,2790.0,1760.0,13.0,87.0,2030.0,1050.0
GM0050,10600.0,67.0,3400.0,1140.0,32.0,2360.0,790.0,3778.0,2590.0,9602.0,...,1880.0,15.0,3030.0,950.0,3150.0,1070.0,29.0,71.0,2030.0,620.0
GM0053,5934.0,69.0,2890.0,1740.0,31.0,2070.0,1290.0,2109.0,1903.0,5983.0,...,1980.0,7.0,2420.0,1340.0,2440.0,1520.0,11.0,89.0,1830.0,930.0
GM0056,8446.0,73.0,3150.0,1800.0,26.0,2140.0,1410.0,3036.0,2464.0,8457.0,...,2130.0,9.0,2540.0,1430.0,2570.0,1530.0,15.0,85.0,1870.0,970.0
GM0058,10849.0,63.0,2790.0,1670.0,35.0,1920.0,1240.0,3616.0,3188.0,10116.0,...,1850.0,12.0,2160.0,1290.0,2250.0,1430.0,10.0,90.0,1730.0,880.0
GM0059,12565.0,63.0,3060.0,1760.0,35.0,2130.0,1350.0,4502.0,3688.0,11967.0,...,1910.0,12.0,2340.0,1390.0,2460.0,1520.0,10.0,90.0,1630.0,960.0
GM0060,1627.0,64.0,3230.0,1890.0,29.0,2430.0,1480.0,494.0,562.0,1596.0,...,2040.0,19.0,2070.0,1090.0,2780.0,1580.0,10.0,90.0,2160.0,1170.0
GM0063,4771.0,65.0,2810.0,1600.0,33.0,1960.0,1230.0,1555.0,1435.0,4396.0,...,1760.0,8.0,2200.0,1210.0,2300.0,1340.0,12.0,88.0,1490.0,780.0
GM0070,9057.0,63.0,2790.0,1540.0,36.0,2040.0,1170.0,2988.0,2920.0,8528.0,...,1730.0,14.0,2400.0,1310.0,2490.0,1450.0,12.0,88.0,1730.0,870.0
GM0072,7038.0,54.0,2830.0,1500.0,45.0,2020.0,1090.0,2288.0,2262.0,6327.0,...,1830.0,23.0,2450.0,1310.0,2540.0,1410.0,13.0,87.0,1800.0,780.0
GM0074,22895.0,59.0,3030.0,1650.0,40.0,2080.0,1140.0,7588.0,6991.0,20247.0,...,1980.0,25.0,2530.0,1210.0,2590.0,1370.0,16.0,84.0,1760.0,970.0
GM0079,5917.0,68.0,2940.0,1710.0,31.0,2010.0,1380.0,2034.0,1705.0,5534.0,...,1880.0,11.0,2370.0,1400.0,2370.0,1490.0,9.0,91.0,1570.0,1000.0
GM0080,59588.0,49.0,2690.0,1410.0,50.0,1910.0,1060.0,14652.0,14576.0,34515.0,...,1880.0,38.0,2470.0,1260.0,2580.0,1460.0,13.0,87.0,1700.0,900.0
GM0081,4280.0,74.0,2800.0,1590.0,25.0,1990.0,1150.0,1501.0,1565.0,4701.0,...,1780.0,8.0,2420.0,1290.0,2490.0,1420.0,7.0,93.0,1560.0,820.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GM1774,11671.0,72.0,4100.0,2050.0,25.0,2510.0,1510.0,4249.0,3227.0,11983.0,...,2300.0,13.0,3030.0,1480.0,3280.0,1620.0,15.0,85.0,2110.0,1040.0
GM1783,48473.0,66.0,3500.0,1320.0,33.0,2260.0,1000.0,17077.0,13700.0,45990.0,...,2270.0,24.0,3180.0,1110.0,3340.0,1350.0,21.0,79.0,2000.0,770.0
GM1842,8571.0,72.0,3430.0,1280.0,28.0,2280.0,930.0,3207.0,2453.0,8678.0,...,2170.0,23.0,3160.0,1060.0,3260.0,1290.0,22.0,78.0,2050.0,650.0
GM1859,18623.0,66.0,3370.0,1810.0,33.0,2260.0,1230.0,6654.0,6662.0,20455.0,...,2230.0,19.0,2650.0,1310.0,2740.0,1430.0,14.0,86.0,2030.0,890.0
GM1876,15101.0,68.0,3620.0,1910.0,30.0,2420.0,1400.0,5413.0,5784.0,16784.0,...,2310.0,15.0,2680.0,1310.0,2770.0,1430.0,10.0,90.0,2170.0,930.0
GM1883,39610.0,57.0,3460.0,1620.0,42.0,2350.0,1100.0,13422.0,14054.0,38164.0,...,2290.0,32.0,3170.0,1310.0,3260.0,1530.0,11.0,89.0,2060.0,910.0
GM1884,11692.0,64.0,3600.0,1490.0,35.0,2420.0,1160.0,4203.0,3745.0,11784.0,...,2110.0,17.0,3050.0,1210.0,3190.0,1430.0,17.0,83.0,2070.0,750.0
GM1891,8063.0,62.0,2970.0,1780.0,36.0,2060.0,1380.0,2991.0,2523.0,8790.0,...,1850.0,9.0,2090.0,1400.0,2240.0,1540.0,7.0,93.0,1630.0,960.0
GM1892,17955.0,66.0,3560.0,1400.0,33.0,2490.0,960.0,6956.0,5392.0,18951.0,...,2270.0,22.0,3210.0,1150.0,3350.0,1400.0,17.0,83.0,2290.0,780.0
GM1894,18759.0,71.0,3960.0,1790.0,28.0,2460.0,1220.0,6753.0,6356.0,19928.0,...,2210.0,14.0,3150.0,1320.0,3260.0,1470.0,14.0,86.0,2020.0,850.0
GM1895,15599.0,62.0,3210.0,1850.0,37.0,2170.0,1420.0,5582.0,5831.0,16329.0,...,2110.0,18.0,2500.0,1480.0,2630.0,1680.0,11.0,89.0,1800.0,1020.0
GM1896,9697.0,69.0,3450.0,1610.0,29.0,2220.0,1250.0,3591.0,2634.0,10815.0,...,2160.0,12.0,2900.0,1310.0,2980.0,1510.0,17.0,83.0,1900.0,850.0
GM1900,38399.0,63.0,2840.0,1550.0,35.0,2010.0,1170.0,12610.0,11628.0,34901.0,...,1810.0,18.0,2440.0,1290.0,2520.0,1460.0,13.0,87.0,1750.0,890.0
GM1901,14887.0,71.0,3440.0,1510.0,28.0,2240.0,1070.0,5372.0,4525.0,15285.0,...,2300.0,20.0,3060.0,1250.0,3270.0,1500.0,14.0,86.0,2020.0,830.0
GM1903,9940.0,73.0,3690.0,1950.0,25.0,2480.0,1360.0,3876.0,4058.0,12347.0,...,2410.0,16.0,3210.0,1520.0,3310.0,1690.0,11.0,89.0,2190.0,990.0
GM1904,29266.0,64.0,3580.0,1530.0,35.0,2310.0,1090.0,10569.0,8456.0,27013.0,...,2520.0,24.0,3260.0,1270.0,3400.0,1560.0,11.0,89.0,2030.0,850.0
GM1908,5913.0,72.0,3010.0,1680.0,28.0,2050.0,1230.0,2082.0,1955.0,6036.0,...,1880.0,6.0,2380.0,1290.0,2460.0,1350.0,6.0,94.0,1880.0,940.0
GM1911,20629.0,68.0,3380.0,1580.0,31.0,2360.0,1200.0,7448.0,6898.0,21457.0,...,1970.0,10.0,2810.0,1200.0,2920.0,1390.0,13.0,87.0,1870.0,790.0
GM1916,34729.0,56.0,3010.0,1430.0,43.0,2010.0,1030.0,11140.0,10008.0,28717.0,...,2730.0,61.0,3260.0,1430.0,3470.0,1740.0,7.0,93.0,2030.0,1000.0
GM1924,19128.0,62.0,3550.0,1520.0,38.0,2210.0,1120.0,7206.0,7141.0,23715.0,...,1980.0,14.0,2760.0,1150.0,2950.0,1320.0,16.0,84.0,1890.0,820.0
GM1926,25256.0,70.0,3480.0,1130.0,30.0,2570.0,810.0,9650.0,5708.0,22420.0,...,1900.0,26.0,3320.0,1000.0,3440.0,1290.0,41.0,59.0,2280.0,530.0
GM1927,12882.0,64.0,3520.0,1560.0,35.0,2330.0,1150.0,4689.0,3397.0,13795.0,...,2170.0,10.0,2810.0,1150.0,2990.0,1350.0,15.0,85.0,1740.0,780.0
GM1930,37229.0,57.0,3540.0,1180.0,43.0,2410.0,930.0,13871.0,11972.0,36148.0,...,1980.0,32.0,3280.0,1090.0,3420.0,1330.0,11.0,89.0,2300.0,760.0
GM1931,23686.0,64.0,3410.0,1540.0,35.0,2200.0,1050.0,8415.0,7738.0,25475.0,...,2150.0,20.0,2890.0,1210.0,3010.0,1420.0,16.0,84.0,1940.0,830.0
GM1940,22671.0,67.0,3080.0,1650.0,32.0,2140.0,1210.0,7731.0,7524.0,22658.0,...,1890.0,9.0,2410.0,1260.0,2490.0,1370.0,13.0,87.0,1730.0,860.0
GM1942,27129.0,62.0,3610.0,1970.0,36.0,2170.0,1180.0,8921.0,6744.0,21748.0,...,3580.0,32.0,3010.0,1540.0,3510.0,1950.0,5.0,95.0,2010.0,960.0
GM1945,15027.0,59.0,3530.0,1810.0,40.0,2400.0,1110.0,5124.0,5163.0,14958.0,...,2460.0,19.0,2810.0,1210.0,2900.0,1380.0,17.0,83.0,2150.0,830.0
GM1948,35450.0,70.0,3840.0,1660.0,29.0,2510.0,1110.0,12721.0,10986.0,35279.0,...,2310.0,17.0,3140.0,1250.0,3350.0,1460.0,17.0,83.0,2200.0,800.0
GM1955,14455.0,65.0,3570.0,1760.0,35.0,2430.0,1210.0,5514.0,5331.0,16335.0,...,2170.0,18.0,2850.0,1280.0,2990.0,1420.0,14.0,86.0,1960.0,860.0
GM1987,5120.0,64.0,3420.0,1850.0,35.0,2350.0,1470.0,1872.0,1904.0,5367.0,...,2010.0,6.0,2400.0,1470.0,2540.0,1650.0,12.0,88.0,2010.0,850.0

# To do: 

- Maak dictionary om Measure-codes makkelijk te vertalen.
- Test manieren om data op te vragen op basis van adressen en een lijst features
- Fix Odata3 parser met slim gekozen filters en dezelfde functies als OData4
- Analyseer en bewerk NaN's. Veel algoritmen van SciKit kunnen niet overweg met NaN.

Dan zouden alle gewenste functies klaar moeten zijn en kan het notebook worden opgeschoont of omgezet naar .py
De hierarchische indeling van locaties moet nog wel toegevoegd worden maar omdat daar andere bestanden voor nodig zijn
is het netjes om in een ander notebook verder te gaan.