# Python functies voor Odata3
Functies voor ophalen, inspecteren en samenvoegen van data van CBS
Verschillen met indeling data CBS op OData4:

file:///C:/Users/DKuipers/AppData/Local/Temp/odata4-overstappen-odata3.pdf

handleiding voor data CBS op Odata3:
file:///C:/Users/DKuipers/AppData/Local/Temp/cbs-open-data-services.pdf

Het voornaamste verschil is dat Odata3 al op de klassieke (tidy) manier observaties opslaat. Verder verschillende de namen van de tabellen in één set, en de namen van de metingen. Er zijn verschillen in welke data wordt gemeten, Odata 4 heeft bijvoorbeeld niet de kolom "meest voorkomende postcode".

In [1]:
import pandas as pd
import requests

def get_odata(target_url):
    
    """"
    De functie gebruikt een API genaamd OData om data van het CBS op te halen.
    De data wordt in stukken opgehaald en in een pandas dataframe gezet.
    De URL moet er zo uitzien: "https://odata4.cbs.nl/CBS/83765NED"
    De code van de tabel die je zoekt vindt je via Statline.
    Ga naar de data in Statline op de website van het CBS en kijk naar de URL om de code te vinden.
    """
    
    data = pd.DataFrame()
    while target_url:
        r = requests.get(target_url).json()
        data = data.append(pd.DataFrame(r['value']))
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

In [3]:
test = get_odata(lastyear_url)
test['url'].values

array(['https://opendata.cbs.nl/oDataAPI/OData/84583NED/TableInfos',
       'https://opendata.cbs.nl/oDataAPI/OData/84583NED/UntypedDataSet',
       'https://opendata.cbs.nl/oDataAPI/OData/84583NED/TypedDataSet',
       'https://opendata.cbs.nl/oDataAPI/OData/84583NED/DataProperties',
       'https://opendata.cbs.nl/oDataAPI/OData/84583NED/CategoryGroups',
       'https://opendata.cbs.nl/oDataAPI/OData/84583NED/WijkenEnBuurten'],
      dtype=object)

UntypedDataSet bevat ook symbolen zoals %.
TypedDataSet bevat de data in een vorm die bedoeld is om met de computer te verwerken.

In [4]:
test_info = get_odata(lastyear_url+"/TableInfos")

In [5]:
print(test_info.columns)
print(test_info[['ExplanatoryText','Frequency','ShortDescription','ShortTitle','Summary','Title']])
print(str(test_info['Description'].values[0]))

Index(['Catalog', 'DefaultPresentation', 'DefaultSelection', 'Description',
       'ExplanatoryText', 'Frequency', 'GraphTypes', 'ID', 'Identifier',
       'Language', 'MetaDataModified', 'Modified', 'OutputStatus', 'Period',
       'ReasonDelivery', 'SearchPriority', 'ShortDescription', 'ShortTitle',
       'Source', 'Summary', 'Title'],
      dtype='object')
  ExplanatoryText     Frequency  \
0                  Onregelmatig

                                    ShortDescription  \
0  \nOverzicht van statistische gegevens van geme...

                           ShortTitle  \
0  Kerncijfers wijken en buurten 2019

                                             Summary  \
0  Kerncijfers over demografische en sociaal-econ...

                                Title
0  Kerncijfers wijken en buurten 2019
INHOUDSOPGAVE

1. Toelichting
2. Definities en verklaring van symbolen
3. Koppelingen naar relevante tabellen en artikelen
4. Bronnen en methoden
5. Meer informatie


1. TOELICHTING

Overzicht van statistische gegevens van gemeenten, wijken en buurten in Nederland.

Gegevens beschikbaar over: 2019.

Status van de cijfers:
Definitief, tenzij in de toelichting bij het onderwerp expliciet is vermeld dat het voorlopige cijfers betreft.

Wijzigingen per mei 2020
Alle variabelen binnen het thema bedrijfsvestigingen zijn toegevoegd. Binnen het thema voorzieningen zijn de variabelen afstand tot huisartsenpraktijk, afstand tot grote supermarkt en afstand tot kinderdagverblijf toegevoegd.

Wijzigingen per 23 oktober 2019
De omgevingsadressendichtheid en bijbehorende mate van stedelijkheid zijn gecorrigeerd op gemeente- en  wijkniveau. In de eerdere berekening waren een aantal adressen weggevallen, wat leidde tot een vertekening in de wijk- en gemeentecijfers. Om deze reden zijn de wijk- en gemeentecijfers herberekend.

Wanneer komen er nieuwe cijfers?
Elk kwartaal worden er nieuwe cijfers toegevoegd indien deze beschikbaar zijn.


2. DEFINITIES EN VERKLARING VAN SYMBOLEN

Definities:

Regio:
De gemeenten in Nederland zijn onderverdeeld in wijken en buurten. Buurten vormen het laagste regionale niveau. Wijken zijn optellingen van één of meer aaneengesloten buurten. De gemeente bepaalt zelf de indeling in wijken en buurten. Het CBS coördineert landelijk deze indeling.

Wijk:
Onderdeel van een gemeente, bestaande uit één of meerdere buurten. Vaak komt een wijk overeen met een woonplaats of een deel van een grotere woonplaats.

Buurt:
Onderdeel van een gemeente, dat vanuit bebouwingsoogpunt of sociaaleconomische structuur homogeen is afgebakend. Homogeen wil zeggen dat één functie dominant is, bijvoorbeeld woonfunctie (woongebied), werkfunctie (industriegebied) of recreatieve functie (natuurgebied). Functies kunnen echter ook gemengd voorkomen.

Verklaring van symbolen:

niets (blanco)	: het cijfer kan op logische gronden niet voorkomen
. 		: het cijfer is onbekend, onvoldoende betrouwbaar of geheim
*		: voorlopige cijfers
**		: nader voorlopige cijfers


3. KOPPELINGEN NAAR RELEVANTE TABELLEN EN ARTIKELEN

Relevante tabellen:

Meer cijfers over wijken en buurten zijn te vinden in de StatLinetabellen:
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/84286NED/table?dl=1C622'>Kerncijfers wijken en buurten 2018</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83765NED/table?dl=C3D2'>Kerncijfers wijken en buurten 2017</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83487NED/table?dl=3E45'>Kerncijfers wijken en buurten 2016</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83220NED/table?dl=4A5F'>Kerncijfers wijken en buurten 2015</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/82931NED/table?dl=5F5A'>Kerncijfers wijken en buurten 2014</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/82339NED/table?dl=5F5B'>Kerncijfers wijken en buurten 2013</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/70904ned/table?dl=5F5D'>Kerncijfers wijken en buurten 2009-2012</a>

Data uit bovengenoemde StatLinetabellen zijn ook als <a href='https://www.cbs.nl/nl-nl/dossier/nederland-regionaal/wijk-en-buurtstatistieken'>Excelbestand</a> beschikbaar.

Wijk- en buurtcijfers per thema op StatLine:
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=82400'>Energie</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=81015'>Sociale Zekerheid</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=80314'>Nabijheid voorzieningen</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=52000'>Bodemgebruik</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=82419'>Criminaliteit</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/navigatieScherm/thema?themaNr=82138'>Motorvoertuigen</a>
De tabellen “Motorvoertuigen particulieren; wijken en buurten” hebben alleen betrekking op het aantal motorvoertuigen op naam van natuurlijke personen (particulieren). Eenmanszaken, rederijen en maatschappen vallen hier ook onder, aangezien voertuigen van deze organisaties altijd op de particuliere naam van de eigenaar staan. De voertuigen op naam van rechtspersonen (bedrijven) zijn buiten beschouwing gelaten, om vertekening van de cijfers door grote verhuur- en leasebedrijven te voorkomen.
Dit in tegenstelling tot de tabellen “Kerncijfers wijken en buurten” waarbij alle motorvoertuigen, dus ook op naam van bedrijven, zijn meegenomen.

Overige publicaties met regionale kerncijfers:
<a href='https://www.cbs.nl/nl-nl/dossier/nederland-regionaal/wegwijzer/cbs-in-uw-buurt'>CBS in uw buurt</a>
<a href='https://www.cbs.nl/nl-nl/dossier/nederland-regionaal/cartografische-toegang/geoservices-bij-het-cbs'>Geoservices bij het CBS</a>
<a href='https://opendata.cbs.nl/statline/#/CBS/nl/dataset/70072ned/table?dl=4DDD'>Regionale kerncijfers Nederland</a>

De wijk- en buurtkaart bevat de digitale geometrie van de grenzen van de buurten, wijken en gemeenten en wordt binnenkort beschikbaar gesteld op <a href='https://www.pdok.nl/'>pdok.nl</a>.

Het CBS geeft elk half jaar een Nieuwsbrief voor gemeenten uit, waarin een overzicht wordt gegeven van de nieuwste cijfers en publicaties op lokaal niveau en overige ontwikkelingen op het gebied van regionale en ruimtelijke statistieken. Hierop kunt u zich abonneren via de volgende link: <a href='https://www.cbs.nl/nl-nl/dossier/nederland-regionaal/gemeente/nieuwsbrief-voor-gemeenten'>Nieuwsbrief voor gemeenten</a>.

Meer informatie is te vinden op de themapagina <a href='https://www.cbs.nl/nl-nl/dossier/nederland-regionaal'>Nederland regionaal</a>.


4. BRONNEN EN METHODEN

De onderzoeksmethode van deze tabel is te vinden in de onderzoeksbeschrijving: <a href='https://www.cbs.nl/nl-nl/onze-diensten/methoden/onderzoeksomschrijvingen/korte-onderzoeksbeschrijvingen/kerncijfers-wijken-en-buurten'>Kerncijfers Wijken en Buurten</a>.

5. MEER INFORMATIE

<a href='https://www.cbs.nl/nl-nl/over-ons/contact/infoservice'>Infoservice</a>

Copyright © Centraal Bureau voor de Statistiek, Den Haag/Heerlen
Verveelvoudiging is toegestaan, mits het CBS als bron wordt vermeld.

In [8]:
test_wijken=get_odata(lastyear_url+"/WijkenEnBuurten")
test_wijken.head()

,Description,DetailRegionCode,Key,Municipality,Title
0,None,,NL00,,Nederland
1,None,GM1680,GM1680,GM1680,Aa en Hunze
2,None,WK168000,WK168000,GM1680,Wijk 00 Annen
3,None,BU16800000,BU16800000,GM1680,Annen
4,None,BU16800009,BU16800009,GM1680,Verspreide huizen Annen

In [7]:
test_props = get_odata(lastyear_url+"/DataProperties")
print(test_props.columns)
print(test_props['Title'].values)

NameError: name 'test_data' is not defined

In [9]:
test_props.head(20)

,Datatype,Decimals,Default,Description,ID,Key,MapYear,ParentID,Position,PresentationType,Title,Type,Unit,odata.type
0,NaN,NaN,NaN,,0,WijkenEnBuurten,2019.0,NaN,0.0,NaN,Wijken en buurten,GeoDetail,NaN,Cbs.OData.GeoDetail
1,NaN,NaN,NaN,De gemeenten in Nederland zijn onderverdeeld i...,1,,NaN,NaN,NaN,NaN,Regioaanduiding,TopicGroup,NaN,Cbs.OData.TopicGroup
2,String,0.0,Impossible,De naam van de bestuurlijke gemeente. Deze naa...,2,Gemeentenaam_1,NaN,1.0,1.0,,Gemeentenaam,Topic,naam,Cbs.OData.Topic
3,String,0.0,Impossible,"De gekozen regioaanduiding betreft: Gemeente, ...",3,SoortRegio_2,NaN,1.0,2.0,,Soort regio,Topic,omschrijving,Cbs.OData.Topic
4,String,0.0,Impossible,"Gemeentecode heeft 4 posities, voorafgegaan do...",4,Codering_3,NaN,1.0,3.0,,Codering,Topic,code,Cbs.OData.Topic
5,String,0.0,Impossible,Deze indicator geeft per wijk en buurt aan of ...,5,IndelingswijzigingWijkenEnBuurten_4,NaN,1.0,4.0,,Indelingswijziging wijken en buurten,Topic,code,Cbs.OData.Topic
6,NaN,NaN,NaN,De bevolking van Nederland op 1 januari.\r\n\r...,6,,NaN,NaN,NaN,NaN,Bevolking,TopicGroup,NaN,Cbs.OData.TopicGroup
7,Long,0.0,Impossible,None,7,AantalInwoners_5,NaN,6.0,5.0,Absolute,Aantal inwoners,Topic,aantal,Cbs.OData.Topic
8,NaN,NaN,NaN,None,8,,NaN,6.0,NaN,NaN,Geslacht,TopicGroup,NaN,Cbs.OData.TopicGroup
9,Long,0.0,Impossible,None,9,Mannen_6,NaN,8.0,6.0,Absolute,Mannen,Topic,aantal,Cbs.OData.Topic
10,Long,0.0,Impossible,None,10,Vrouwen_7,NaN,8.0,7.0,Absolute,Vrouwen,Topic,aantal,Cbs.OData.Topic
11,NaN,NaN,NaN,None,11,,NaN,6.0,NaN,NaN,Leeftijdsgroepen,TopicGroup,NaN,Cbs.OData.TopicGroup
12,Long,0.0,Impossible,Aantal inwoners dat op 1 januari 0 tot 15 jaar...,12,k_0Tot15Jaar_8,NaN,11.0,8.0,Absolute,0 tot 15 jaar,Topic,aantal,Cbs.OData.Topic
13,Long,0.0,Impossible,Aantal inwoners dat op 1 januari 15 tot 25 jaa...,13,k_15Tot25Jaar_9,NaN,11.0,9.0,Absolute,15 tot 25 jaar,Topic,aantal,Cbs.OData.Topic
14,Long,0.0,Impossible,Aantal inwoners dat op 1 januari 25 tot 45 jaa...,14,k_25Tot45Jaar_10,NaN,11.0,10.0,Absolute,25 tot 45 jaar,Topic,aantal,Cbs.OData.Topic
15,Long,0.0,Impossible,Aantal inwoners dat op 1 januari 45 tot 65 jaa...,15,k_45Tot65Jaar_11,NaN,11.0,11.0,Absolute,45 tot 65 jaar,Topic,aantal,Cbs.OData.Topic
16,Long,0.0,Impossible,Aantal inwoners dat op 1 januari 65 jaar of ou...,16,k_65JaarOfOuder_12,NaN,11.0,12.0,Absolute,65 jaar of ouder,Topic,aantal,Cbs.OData.Topic
17,NaN,NaN,NaN,None,17,,NaN,6.0,NaN,NaN,Burgerlijke staat,TopicGroup,NaN,Cbs.OData.TopicGroup
18,Long,0.0,Impossible,Het aantal inwoners dat op 1 januari ongehuwd ...,18,Ongehuwd_13,NaN,17.0,13.0,Absolute,Ongehuwd,Topic,aantal,Cbs.OData.Topic
19,Long,0.0,Impossible,Het aantal inwoners dat op 1 januari gehuwd is...,19,Gehuwd_14,NaN,17.0,14.0,Absolute,Gehuwd,Topic,aantal,Cbs.OData.Topic

In [10]:
test_observations = get_odata(lastyear_url+"/TypedDataSet"+"?$top=10")

In [11]:
print(list(test_observations.columns))
print(test_observations["Codering_3"])
#print(test_observations["MeestVoorkomendePostcode_103"]) # Alleen voor buurten ingevuld.
#print(test_observations["SoortRegio_2"]) # Niet nodig, voorvoegsel codering bevat die informatie al.

['ALandbouwBosbouwEnVisserij_82', 'AantalInkomensontvangers_64', 'AantalInwoners_5', 'Actieven1575Jaar_69', 'AfstandTotGroteSupermarkt_96', 'AfstandTotHuisartsenpraktijk_95', 'AfstandTotKinderdagverblijf_97', 'AfstandTotSchool_98', 'Appartement_48', 'Appartement_56', 'BFNijverheidEnEnergie_83', 'BedrijfsvestigingenTotaal_81', 'Bevolkingsdichtheid_33', 'BouwjaarVanaf2000_46', 'BouwjaarVoor2000_45', 'Codering_3', 'Dekkingspercentage_104', 'Eenpersoonshuishoudens_29', 'EigenWoning_54', 'EigenWoning_62', 'EigendomOnbekend_44', 'GIHandelEnHoreca_84', 'GeboorteRelatief_25', 'GeboorteTotaal_24', 'Gehuwd_14', 'Gemeentenaam_1', 'GemiddeldAardgasverbruikTotaal_55', 'GemiddeldElektriciteitsverbruikTotaal_47', 'GemiddeldInkomenPerInkomensontvanger_65', 'GemiddeldInkomenPerInwoner_66', 'GemiddeldeHuishoudensgrootte_32', 'GemiddeldeWoningwaarde_35', 'Gescheiden_15', 'GeweldsEnSeksueleMisdrijven_80', 'HJVervoerInformatieEnCommunicatie_85', 'Hoekwoning_50', 'Hoekwoning_58', 'HuishOnderOfRondSociaalMinimum_73', 'HuishoudensMetEenLaagInkomen_72', 'HuishoudensMetKinderen_31', 'HuishoudensTotaal_28', 'HuishoudensZonderKinderen_30', 'Huurwoning_53', 'Huurwoning_61', 'HuurwoningenTotaal_41', 'ID', 'InBezitOverigeVerhuurders_43', 'InBezitWoningcorporatie_42', 'IndelingswijzigingWijkenEnBuurten_4', 'KLFinancieleDienstenOnroerendGoed_86', 'Koopwoningen_40', 'MNZakelijkeDienstverlening_87', 'Mannen_6', 'Marokko_19', 'MateVanStedelijkheid_105', 'MeestVoorkomendePostcode_103', 'Motorfietsen_94', 'NederlandseAntillenEnAruba_20', 'NietWestersTotaal_18', 'Omgevingsadressendichtheid_106', 'Ongehuwd_13', 'OppervlakteLand_101', 'OppervlakteTotaal_100', 'OppervlakteWater_102', 'OverigNietWesters_23', 'PercentageBewoond_38', 'PercentageEengezinswoning_36', 'PercentageMeergezinswoning_37', 'PercentageOnbewoond_39', 'PercentageWoningenMetStadsverwarming_63', 'PersonenPerSoortUitkeringAOW_77', 'PersonenPerSoortUitkeringAO_75', 'PersonenPerSoortUitkeringBijstand_74', 'PersonenPerSoortUitkeringWW_76', 'PersonenautoSBrandstofBenzine_90', 'PersonenautoSNaarOppervlakte_93', 'PersonenautoSOverigeBrandstof_91', 'PersonenautoSPerHuishouden_92', 'PersonenautoSTotaal_89', 'RUCultuurRecreatieOverigeDiensten_88', 'ScholenBinnen3Km_99', 'SoortRegio_2', 'SterfteRelatief_27', 'SterfteTotaal_26', 'Suriname_21', 'TotaalDiefstalUitWoningSchuurED_78', 'Turkije_22', 'Tussenwoning_49', 'Tussenwoning_57', 'TweeOnderEenKapWoning_51', 'TweeOnderEenKapWoning_59', 'VernielingMisdrijfTegenOpenbareOrde_79', 'Verweduwd_16', 'VrijstaandeWoning_52', 'VrijstaandeWoning_60', 'Vrouwen_7', 'WestersTotaal_17', 'WijkenEnBuurten', 'Woningvoorraad_34', 'k_0Tot15Jaar_8', 'k_15Tot25Jaar_9', 'k_20HuishoudensMetHoogsteInkomen_71', 'k_20PersonenMetHoogsteInkomen_68', 'k_25Tot45Jaar_10', 'k_40HuishoudensMetLaagsteInkomen_70', 'k_40PersonenMetLaagsteInkomen_67', 'k_45Tot65Jaar_11', 'k_65JaarOfOuder_12']
0    NL00
1    GM1680
2    WK168000
3    BU16800000
4    BU16800009
5    WK168001
6    BU16800100
7    BU16800109
8    WK168002
9    BU16800200
Name: Codering_3, dtype: object

In [58]:
def get_top_observations(table_url, url_filter = "", bottom=False):
    
    """Haal de tabel met metingen op. In tegenstelling tot Odata4 hoeft de tabel niet geformatteerd te worden.
    Odata3 beperkt echter hoeveel metingen je op kan halen. Kies uit de bovenste of onderste 9999 rijen.
    Als dat niet genoeg is moeten filters toegepast worden.
    Filteren om minder of specifiekere data op te vragen is mogelijk as volgt:
    url_filter = $filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'
    Door de filteren op deze kolommen kun je een plaats (land, gemeente, wijk of buurt) kiezen.
    Of gebruik: $filter=Measure in ('M001607', 'M001636')
    Je hoeft niet beide kolommen te gebruiken voor het filter."""
    
    
    if bottom:
        side = "?$bottom=9999 &amp;"
    else:
        side = "?$top=9999 &amp;"
    
    if url_filter == "":
        target_url = table_url + "/TypedDataSet?" + side 
    elif "$filter=" in url_filter:
        target_url = table_url + "/TypedDataSet" + side + url_filter
    else:
        print("WAARSCHUWING! FILTER NIET GOED GEFORMATTEERD. VERGELIJK MET VOORBEELD OF GA NAAR ")
        print("\n https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4")
        #return None
        return(table_url + url_filter)
    
    print(target_url)
    data = get_odata(target_url)
    print(data.head)
    
    return(data)

lastyear_url = "https://opendata.cbs.nl/oDataAPI/OData/84583NED"

In [59]:
test_table = get_top_observations(lastyear_url, url_filter="$filter=contains(Codering_3,'GM')")
#test_table = get_odata(lastyear_url+"/TypedDataSet"+"?$top=9999"+"&amp;"+"$filter=contains(Codering_3,'GM')")
test_table

https://opendata.cbs.nl/oDataAPI/OData/84583NED/TypedDataSet?$top=9999 &amp;$filter=contains(Codering_3,'GM')
<bound method NDFrame.head of       ALandbouwBosbouwEnVisserij_82 AantalInkomensontvangers_64  \
0                           75980.0                        None
1                             290.0                        None
2                              20.0                        None
3                              10.0                        None
4                              10.0                        None
5                              20.0                        None
6                              15.0                        None
7                               5.0                        None
8                              10.0                        None
9                               5.0                        None
10                              NaN                        None
11                              5.0                        None
12                              5.0                        None
13                              NaN                        None
14                             10.0                        None
15                              5.0                        None
16                              NaN                        None
17                              5.0                        None
18                              5.0                        None
19                              NaN                        None
20                             10.0                        None
21                             10.0                        None
22                              NaN                        None
23                              NaN                        None
24                              NaN                        None
25                              NaN                        None
26                              NaN                        None
27                              NaN                        None
28                              NaN                        None
29                              NaN                        None
...                             ...                         ...
9969                            0.0                        None
9970                            0.0                        None
9971                           10.0                        None
9972                            NaN                        None
9973                            0.0                        None
9974                           10.0                        None
9975                            NaN                        None
9976                            NaN                        None
9977                           30.0                        None
9978                            5.0                        None
9979                            NaN                        None
9980                            NaN                        None
9981                           10.0                        None
9982                           10.0                        None
9983                            NaN                        None
9984                            NaN                        None
9985                            5.0                        None
9986                            5.0                        None
9987                            0.0                        None
9988                            NaN                        None
9989                            NaN                        None
9990                            5.0                        None
9991                            0.0                        None
9992                            NaN                        None
9993                            NaN                        None
9994                           20.0                        None
9995                           15.0                        None
9996                           10.0                        None
9997                            NaN                        None
9998                           30.0                        None

      AantalInwoners_5 Actieven1575Jaar_69  AfstandTotGroteSupermarkt_96  \
0             17282163                None                           0.9
1                25386                None                           2.1
2                 3595                None                           0.9
3                 3450                None                           0.8
4                  150                None                           2.1
5                 1420                None                           0.9
6                 1245                None                           0.6
7                  175                None                           2.6
8                  465                None                           2.7
9                  335                None                           2.7
10                 130                None                           2.8
11                 410                None                           5.5
12                 395                None                           5.5
13                  15                None                           4.7
14                 255                None                           3.7
15                 225                None                           3.7
16                  30                None                           3.1
17                 590                None                           1.7
18                 535                None                           1.6
19                  55                None                           2.1
20                 465                None                           7.1
21                 450                None                           7.1
22                  15                None                           6.9
23                 155                None                           4.3
24                 155                None                           4.3
25                   0                None                           NaN
26                 110                None                           5.2
27                 100                None                           5.2
28                  10                None                           NaN
29                 130                None                           5.6
...                ...                 ...                           ...
9969               830                None                           1.8
9970               115                None                           1.8
9971               940                None                           4.5
9972                20                None                           3.4
9973               415                None                           5.1
9974               495                None                           4.0
9975                15                None                           5.3
9976                 0                None                           NaN
9977              3670                None                           1.0
9978              3090                None                           0.7
9979                 0                None                           NaN
9980                 5                None                           NaN
9981               285                None                           1.6
9982               185                None                           3.2
9983                10                None                           NaN
9984               100                None                           3.6
9985              1340                None                           3.1
9986              1300                None                           3.2
9987                 0                None                           NaN
9988                 5                None                           NaN
9989                40                None                           2.6
9990               850                None                           3.8
9991               730                None                           3.9
9992                80                None                           3.2
9993                40                None                           4.7
9994              2140                None                           2.1
9995              1975                None                           2.0
9996               145                None                           3.2
9997                25                None                           4.2
9998              1700                None                           0.9

      AfstandTotHuisartsenpraktijk_95  AfstandTotKinderdagverblijf_97  \
0                                 1.0                             0.6
1                                 2.4                             1.2
2                                 0.9                             0.5
3                                 0.8                             0.5
4                                 2.6                             1.7
5                                 3.8                             1.3
6                                 3.8                             1.2
7                                 3.6                             2.0
8                                 2.2                             2.2
9                                 2.2                             2.2
10                                2.3                             2.3
11                                5.0                             5.0
12                                5.0                             5.0
13                                4.3                             4.2
14                                4.2                             4.1
15                                4.3                             4.2
16                                3.7                             3.6
17                                2.5                             1.3
18                                2.5                             1.3
19                                2.9                             1.7
20                                6.8                             0.5
21                                6.8                             0.5
22                                7.3                             1.1
23                                4.9                             0.7
24                                4.9                             0.7
25                                NaN                             NaN
26                                5.9                             0.7
27                                5.8                             0.7
28                                NaN                             NaN
29                                5.9                             2.1
...                               ...                             ...
9969                              2.4                             0.2
9970                              2.4                             0.9
9971                              4.7                             1.2
9972                              3.2                             2.8
9973                              5.4                             0.2
9974                              4.2                             1.9
9975                              5.5                             1.8
9976                              NaN                             NaN
9977                              1.0                             0.9
9978                              0.7                             0.7
9979                              NaN                             NaN
9980                              NaN                             NaN
9981                              1.5                             1.5
9982                              3.4                             2.0
9983                              NaN                             NaN
9984                              3.5                             3.4
9985                              0.9                             0.9
9986                              0.9                             0.9
9987                              NaN                             NaN
9988                              NaN                             NaN
9989                              2.2                             1.5
9990                              2.8                             2.7
9991                              2.8                             2.7
9992                              3.0                             2.7
9993                              3.4                             3.2
9994                              1.2                             1.2
9995                              1.1                             1.1
9996                              2.5                             2.1
9997                              3.2                             3.5
9998                              1.2                             0.6

     AfstandTotSchool_98 Appartement_48 Appartement_56  ...  \
0                   None           None           None  ...
1                   None           None           None  ...
2                   None           None           None  ...
3                   None           None           None  ...
4                   None           None           None  ...
5                   None           None           None  ...
6                   None           None           None  ...
7                   None           None           None  ...
8                   None           None           None  ...
9                   None           None           None  ...
10                  None           None           None  ...
11                  None           None           None  ...
12                  None           None           None  ...
13                  None           None           None  ...
14                  None           None           None  ...
15                  None           None           None  ...
16                  None           None           None  ...
17                  None           None           None  ...
18                  None           None           None  ...
19                  None           None           None  ...
20                  None           None           None  ...
21                  None           None           None  ...
22                  None           None           None  ...
23                  None           None           None  ...
24                  None           None           None  ...
25                  None           None           None  ...
26                  None           None           None  ...
27                  None           None           None  ...
28                  None           None           None  ...
29                  None           None           None  ...
...                  ...            ...            ...  ...
9969                None           None           None  ...
9970                None           None           None  ...
9971                None           None           None  ...
9972                None           None           None  ...
9973                None           None           None  ...
9974                None           None           None  ...
9975                None           None           None  ...
9976                None           None           None  ...
9977                None           None           None  ...
9978                None           None           None  ...
9979                None           None           None  ...
9980                None           None           None  ...
9981                None           None           None  ...
9982                None           None           None  ...
9983                None           None           None  ...
9984                None           None           None  ...
9985                None           None           None  ...
9986                None           None           None  ...
9987                None           None           None  ...
9988                None           None           None  ...
9989                None           None           None  ...
9990                None           None           None  ...
9991                None           None           None  ...
9992                None           None           None  ...
9993                None           None           None  ...
9994                None           None           None  ...
9995                None           None           None  ...
9996                None           None           None  ...
9997                None           None           None  ...
9998                None           None           None  ...

      Woningvoorraad_34  k_0Tot15Jaar_8  k_15Tot25Jaar_9  \
0               7814912         2739819          2131944
1                 11257            3462             2610
2                  1615             570              345
3                  1552             555              330
4                    63              15               10
5                   584             200              150
6                   534             185              130
7                    50              10               15
8                   169              50               50
9                   145              35               35
10                   24              15               15
11                  172              30               50
12                  167              25               45
13                    5               0                0
14                  110              20               35
15                  100              15               30
16                   10               5                0
17                  242              60               45
18                  211              50               40
19                   31               5                0
20                  186              85               45
21                  180              85               45
22                    6               0                0
23                   64              10               20
24                   64              10               20
25                    0               0                0
26                   43              15                5
27                   40              15                5
28                    3               0                0
29                   48              15                5
...                 ...             ...              ...
9969                394             125              110
9970                 49              15               15
9971                380             125               85
9972                 11               0                0
9973                184              55               50
9974                178              70               40
9975                  7               5                0
9976                  0               0                0
9977               1612             675              405
9978               1246             605              335
9979                  0               0                0
9980                  1               0                5
9981                111              40               35
9982                191              25               30
9983                  3               5                5
9984                 60              10               10
9985                601             185              135
9986                583             185              130
9987                  0               0                0
9988                  1               0                0
9989                 17               5                5
9990                367             130               85
9991                314             120               70
9992                 36               5               10
9993                 17               5               10

,ALandbouwBosbouwEnVisserij_82,AantalInkomensontvangers_64,AantalInwoners_5,Actieven1575Jaar_69,AfstandTotGroteSupermarkt_96,AfstandTotHuisartsenpraktijk_95,AfstandTotKinderdagverblijf_97,AfstandTotSchool_98,Appartement_48,Appartement_56,...,Woningvoorraad_34,k_0Tot15Jaar_8,k_15Tot25Jaar_9,k_20HuishoudensMetHoogsteInkomen_71,k_20PersonenMetHoogsteInkomen_68,k_25Tot45Jaar_10,k_40HuishoudensMetLaagsteInkomen_70,k_40PersonenMetLaagsteInkomen_67,k_45Tot65Jaar_11,k_65JaarOfOuder_12
0,75980.0,None,17282163,None,0.9,1.0,0.6,None,None,None,...,7814912,2739819,2131944,None,None,4255450,None,None,4840946,3314004
1,290.0,None,25386,None,2.1,2.4,1.2,None,None,None,...,11257,3462,2610,None,None,4347,None,None,8354,6613
2,20.0,None,3595,None,0.9,0.9,0.5,None,None,None,...,1615,570,345,None,None,625,None,None,1150,900
3,10.0,None,3450,None,0.8,0.8,0.5,None,None,None,...,1552,555,330,None,None,610,None,None,1085,860
4,10.0,None,150,None,2.1,2.6,1.7,None,None,None,...,63,15,10,None,None,15,None,None,60,35
5,20.0,None,1420,None,0.9,3.8,1.3,None,None,None,...,584,200,150,None,None,275,None,None,490,300
6,15.0,None,1245,None,0.6,3.8,1.2,None,None,None,...,534,185,130,None,None,245,None,None,420,250
7,5.0,None,175,None,2.6,3.6,2.0,None,None,None,...,50,10,15,None,None,25,None,None,70,45
8,10.0,None,465,None,2.7,2.2,2.2,None,None,None,...,169,50,50,None,None,60,None,None,180,115
9,5.0,None,335,None,2.7,2.2,2.2,None,None,None,...,145,35,35,None,None,45,None,None,120,90
10,NaN,None,130,None,2.8,2.3,2.3,None,None,None,...,24,15,15,None,None,15,None,None,55,20
11,5.0,None,410,None,5.5,5.0,5.0,None,None,None,...,172,30,50,None,None,50,None,None,155,115
12,5.0,None,395,None,5.5,5.0,5.0,None,None,None,...,167,25,45,None,None,45,None,None,155,110
13,NaN,None,15,None,4.7,4.3,4.2,None,None,None,...,5,0,0,None,None,0,None,None,0,0
14,10.0,None,255,None,3.7,4.2,4.1,None,None,None,...,110,20,35,None,None,20,None,None,110,60
15,5.0,None,225,None,3.7,4.3,4.2,None,None,None,...,100,15,30,None,None,15,None,None,95,55
16,NaN,None,30,None,3.1,3.7,3.6,None,None,None,...,10,5,0,None,None,5,None,None,10,0
17,5.0,None,590,None,1.7,2.5,1.3,None,None,None,...,242,60,45,None,None,55,None,None,205,210
18,5.0,None,535,None,1.6,2.5,1.3,None,None,None,...,211,50,40,None,None,50,None,None,190,190
19,NaN,None,55,None,2.1,2.9,1.7,None,None,None,...,31,5,0,None,None,5,None,None,15,20
20,10.0,None,465,None,7.1,6.8,0.5,None,None,None,...,186,85,45,None,None,85,None,None,175,60
21,10.0,None,450,None,7.1,6.8,0.5,None,None,None,...,180,85,45,None,None,85,None,None,170,60
22,NaN,None,15,None,6.9,7.3,1.1,None,None,None,...,6,0,0,None,None,0,None,None,5,0
23,NaN,None,155,None,4.3,4.9,0.7,None,None,None,...,64,10,20,None,None,25,None,None,60,30
24,NaN,None,155,None,4.3,4.9,0.7,None,None,None,...,64,10,20,None,None,25,None,None,60,30
25,NaN,None,0,None,NaN,NaN,NaN,None,None,None,...,0,0,0,None,None,0,None,None,0,0
26,NaN,None,110,None,5.2,5.9,0.7,None,None,None,...,43,15,5,None,None,25,None,None,35,20
27,NaN,None,100,None,5.2,5.8,0.7,None,None,None,...,40,15,5,None,None,20,None,None,30,20
28,NaN,None,10,None,NaN,NaN,NaN,None,None,None,...,3,0,0,None,None,0,None,None,0,0
29,NaN,None,130,None,5.6,5.9,2.1,None,None,None,...,48,15,5,None,None,20,None,None,55,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9969,0.0,None,830,None,1.8,2.4,0.2,None,None,None,...,394,125,110,None,None,210,None,None,280,115
9970,0.0,None,115,None,1.8,2.4,0.9,None,None,None,...,49,15,15,None,None,20,None,None,45,30
9971,10.0,None,940,None,4.5,4.7,1.2,None,None,None,...,380,125,85,None,None,230,None,None,355,155
9972,NaN,None,20,None,3.4,3.2,2.8,None,None,None,...,11,0,0,None,None,5,None,None,10,10
9973,0.0,None,415,None,5.1,5.4,0.2,None,None,None,...,184,55,50,None,None,95,None,None,140,90
9974,10.0,None,495,None,4.0,4.2,1.9,None,None,None,...,178,70,40,None,None,130,None,None,205,60
9975,NaN,None,15,None,5.3,5.5,1.8,None,None,None,...,7,5,0,None,None,10,None,None,5,5
9976,NaN,None,0,None,NaN,NaN,NaN,None,None,None,...,0,0,0,None,None,0,None,None,0,0
9977,30.0,None,3670,None,1.0,1.0,0.9,None,None,None,...,1612,675,405,None,None,710,None,None,1190,695
9978,5.0,None,3090,None,0.7,0.7,0.7,None,None,None,...,1246,605,335,None,None,595,None,None,990,575
9979,NaN,None,0,None,NaN,NaN,NaN,None,None,None,...,0,0,0,None,None,0,None,None,0,0
9980,NaN,None,5,None,NaN,NaN,NaN,None,None,None,...,1,0,5,None,None,0,None,None,5,0
9981,10.0,None,285,None,1.6,1.5,1.5,None,None,None,...,111,40,35,None,None,55,None,None,105,60
9982,10.0,None,185,None,3.2,3.4,2.0,None,None,None,...,191,25,30,None,None,45,None,None,60,35
9983,NaN,None,10,None,NaN,NaN,NaN,None,None,None,...,3,5,5,None,None,0,None,None,5,5
9984,NaN,None,100,None,3.6,3.5,3.4,None,None,None,...,60,10,10,None,None,20,None,None,40,25
9985,5.0,None,1340,None,3.1,0.9,0.9,None,None,None,...,601,185,135,None,None,290,None,None,455,285
9986,5.0,None,1300,None,3.2,0.9,0.9,None,None,None,...,583,185,130,None,None,290,None,None,435,275
9987,0.0,None,0,None,NaN,NaN,NaN,None,None,None,...,0,0,0,None,None,0,None,None,0,0
9988,NaN,None,5,None,NaN,NaN,NaN,None,None,None,...,1,0,0,None,None,0,None,None,5,0
9989,NaN,None,40,None,2.6,2.2,1.5,None,None,None,...,17,5,5,None,None,5,None,None,20,10
9990,5.0,None,850,None,3.8,2.8,2.7,None,None,None,...,367,130,85,None,None,160,None,None,320,160
9991,0.0,None,730,None,3.9,2.8,2.7,None,None,None,...,314,120,70,None,None,150,None,None,270,130
9992,NaN,None,80,None,3.2,3.0,2.7,None,None,None,...,36,5,10,None,None,5,None,None,40,25
9993,NaN,None,40,None,4.7,3.4,3.2,None,None,None,...,17,5,10,None,None,10,None,None,15,10
9994,20.0,None,2140,None,2.1,1.2,1.2,None,None,None,...,1019,305,230,None,None,425,None,None,680,505
9995,15.0,None,1975,None,2.0,1.1,1.1,None,None,None,...,954,285,205,None,None,410,None,None,610,470
9996,10.0,None,145,None,3.2,2.5,2.1,None,None,None,...,54,20,25,None,None,15,None,None,60,30
9997,NaN,None,25,None,4.2,3.2,3.5,None,None,None,...,11,5,5,None,None,5,None,None,15,5
9998,30.0,None,1700,None,0.9,1.2,0.6,None,None,None,...,699,330,205,None,None,380,None,None,515,280

## Filteren van query
Het filteren van de data maakt het downloaden sneller.
Het filteren van 'Observations' data kan door code van dit format achter de url te plakken:

**?$filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'**

**$filter=Measure in ('M001607', 'M001636')**

De code uit de kolom WijkenEnBuurten kun je vinden met 

**get_odata(table_url + "/WijkenEnBuurtenCodes")**

De 'Title' kolom van deze tabel bevat de namen van wijken, zodat je kan zoeken met str.find, <>.str.contains of Regex.
Zoals wel vaken met tektskolommen moet je dan vertrouwen op de volledigheid en consistentie.
Achteraf controleren of je wel de juiste weijken hebt s dus wel aangeraden.
De kolom WijkenenBuurten bevat zowel landen, gemeenten, wijken als buurten.
Aan het voorvoegsel van twee letters kun je zien met welke soort regio je te maken hebt.

Zie https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4 voor meer uitleg.
Voor de volledige documentie, zie https://www.odata.org/getting-started/basic-tutorial/#topskip
of ga naar https://help.nintex.com/en-US/insight/OData/HE_CON_ODATAQueryCheatSheet.htm voor een beknopte cheatsheet

Een dataset uit ODATA3 (uit 2019) kan gebruikt worden om postcodes aan buurten te koppelen als andere geografische data niet gevonden kan worden.
Houd rekening met de limiet van 10000 rijen per verzoek.