# Python functies voor Odata4
Functies voor ophalen, inspecteren en samenvoegen van data van CBS

## Meer info

- https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/snelstartgids-odata-v4
- https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/metadata-odata-v4
- Ook code voor R beschikbaar.

# Definieren functies

In [1]:
import pandas as pd
import requests
import re
import time

In [2]:
def get_odata(target_url):
    
    """"
    De functie gebruikt een API genaamd OData om data van het CBS op te halen.
    De data wordt in stukken opgehaald en in een pandas dataframe gezet.
    De URL moet er zo uitzien: "https://odata4.cbs.nl/CBS/83765NED"
    De code van de tabel die je zoekt vindt je via Statline.
    Ga naar de data in Statline op de website van het CBS en kijk naar de URL om de code te vinden.
    """
    
    data = pd.DataFrame()
    while target_url:
        r = requests.get(target_url).json()
        data = data.append(pd.DataFrame(r['value']))
        
        if '@odata.nextLink' in r:
            target_url = r['@odata.nextLink']
        else:
            target_url = None
            
    return data

De functie gebruikt een API genaamd OData om data van het CBS op te halen.
De data wordt in stukken opgehaald en in een pandas dataframe gezet.
De URL moet er zo uitzien: "https://odata4.cbs.nl/CBS/83765NED"
De code van de tabel die je zoekt vindt je via Statline.
Ga naar de data in Statline op de website van het CBS en kijk naar de URL om de code te vinden.
Deze API is hierarchisch.

In [3]:
def get_observations(table_url, url_filter = ""):
    
    """Haal de tabel met metingen op. Filteren om minder of specifiekere data op te vragen is mogelijk as volgt:
    url_filter = $filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'
    Door de filteren op deze kolommen kun je een plaats (land, gemeente, wijk of buurt) en dan een soort meting kiezen.
    Of gebruik $filter=Measure in ('M001607', 'M001636') Je hoeft niet beide kolommen te gebruiken voor het filter.
    """
    
    if url_filter == "":
        target_url = table_url + "/Observations"
    elif "$filter=" in url_filter:
        target_url = table_url + "/Observations" + "?" + url_filter
    else:
        print("WAARSCHUWING! FILTER NIET GOED GEFORMATTEERD. VERGELIJK MET VOORBEELDEN OF GA NAAR ")
        print("\n https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4")
        print("\n http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752358")
        print("\n sectie 5.1.1.5")
        #return None
        pass
    
    data = get_odata(target_url)
    
    return(data)

url_voorbeeld = "https://odata4.cbs.nl/CBS/83765NED"

# Wat is de structuur van de data?

In [4]:
data_structuur = get_odata(url_voorbeeld)
print(data_structuur)
data_Mcodes = get_odata(url_voorbeeld+"/MeasureCodes")
print(data_Mcodes.columns)

        kind                   name                    url
0  EntitySet          MeasureGroups          MeasureGroups
1  EntitySet           MeasureCodes           MeasureCodes
2  EntitySet             Dimensions             Dimensions
3  EntitySet  WijkenEnBuurtenGroups  WijkenEnBuurtenGroups
4  EntitySet   WijkenEnBuurtenCodes   WijkenEnBuurtenCodes
5  EntitySet           Observations           Observations
6  Singleton             Properties             Properties
Index(['DataType', 'Decimals', 'Description', 'Format', 'Identifier', 'Index',
       'MeasureGroupId', 'PresentationType', 'Title', 'Unit'],
      dtype='object')

In [5]:
# Maak een csv van de codes om ze in Excel goed te bekijken
data_Mcodes.to_csv("MeasureCodes.csv", sep=";", na_rep="None")
data_Mcodes[['Title','Description','Identifier','MeasureGroupId']].to_csv("features_alles.csv", sep=";", na_rep="None")
data_Mcodes
#data_Mcodes['Title'].values
#data_Mcodes["Identifier"]

,DataType,Decimals,Description,Format,Identifier,Index,MeasureGroupId,PresentationType,Title,Unit
0,Long,0,,None,T001036,7,M000352,Absolute,Aantal inwoners,aantal
1,Long,0,,None,3000,9,T001038,Absolute,Mannen,aantal
2,Long,0,,None,4000,10,T001038,Absolute,Vrouwen,aantal
3,Long,0,Aantal inwoners dat op 1 januari 0 tot 15 jaar...,None,10680,12,10000,Absolute,0 tot 15 jaar,aantal
4,Long,0,Aantal inwoners dat op 1 januari 15 tot 25 jaa...,None,53050,13,10000,Absolute,15 tot 25 jaar,aantal
5,Long,0,Aantal inwoners dat op 1 januari 25 tot 45 jaa...,None,53310,14,10000,Absolute,25 tot 45 jaar,aantal
6,Long,0,Aantal inwoners dat op 1 januari 45 tot 65 jaa...,None,53715,15,10000,Absolute,45 tot 65 jaar,aantal
7,Long,0,Aantal inwoners dat op 1 januari 65 jaar of ou...,None,80200,16,10000,Absolute,65 jaar of ouder,aantal
8,Long,0,Het aantal inwoners dat op 1 januari ongehuwd ...,None,1010,18,T001019,Absolute,Ongehuwd,aantal
9,Long,0,Het aantal inwoners dat op 1 januari gehuwd is...,None,1020,19,T001019,Absolute,Gehuwd,aantal
10,Long,0,Het aantal inwoners dat op 1 januari gescheide...,None,1080,20,T001019,Absolute,Gescheiden,aantal
11,Long,0,Het aantal inwoners dat op 1 januari verweduwd...,None,1050,21,T001019,Absolute,Verweduwd,aantal
12,Long,0,Persoon met een migratieachtergrond met als he...,None,2012655,23,2012605,Absolute,Westers totaal,aantal
13,Long,0,,None,2012657_2,25,2012657_1,Absolute,Niet-westers totaal,aantal
14,Long,0,,None,H008673,26,2012657_1,Absolute,Marokko,aantal
15,Long,0,(voormalige) Nederlandse Antillen en Aruba\r\n...,None,H007119,27,2012657_1,Absolute,Nederlandse Antillen en Aruba,aantal
16,Long,0,,None,H008751,28,2012657_1,Absolute,Suriname,aantal
17,Long,0,,None,H008766,29,2012657_1,Absolute,Turkije,aantal
18,Long,0,"Totaal niet-westers minus Marokko, (voormalige...",None,A008187,30,2012657_1,Absolute,Overig niet-westers,aantal
19,Long,0,Het aantal levendgeborenen van 1 januari tot e...,None,M000173_1,32,M000314,Absolute,Geboorte totaal,aantal
20,Long,0,Het aantal levendgeborenen van 1 januari tot e...,None,M000173_2,33,M000314,Relative,Geboorte relatief,per 1 000 inwoners
21,Long,0,Alle overledenen van 1 januari tot en met 31 d...,None,M000179_1,34,M000314,Absolute,Sterfte totaal,aantal
22,Long,0,Het aantal overledenen van 1 januari tot en me...,None,M000179_2,35,M000314,Relative,Sterfte relatief,per 1 000 inwoners
23,Long,0,Totaal particuliere huishoudens.,None,1050010_2,37,1050010_1,Absolute,Huishoudens totaal,aantal
24,Long,0,Een particulier huishouden bestaande uit één p...,None,1050015,38,1050010_1,Absolute,Eenpersoonshuishoudens,aantal
25,Long,0,Meerpersoonshuishoudens zonder kinderen bestaa...,None,1016040,39,1050010_1,Absolute,Huishoudens zonder kinderen,aantal
26,Long,0,Meerpersoonshuishoudens met kinderen bestaan u...,None,1016030,40,1050010_1,Absolute,Huishoudens met kinderen,aantal
27,Double,1,Dit gemiddelde is berekend als het aantal in p...,None,M000114,41,1050010_1,Absolute,Gemiddelde huishoudensgrootte,aantal
28,Long,0,Het (niet afgeronde) aantal inwoners per km² l...,None,M000100,42,M000352,Relative,Bevolkingsdichtheid,aantal inwoners per km²
29,Long,0,Het totale aantal woningen op 1 januari van he...,None,M000297,44,M000296,Absolute,Woningvoorraad,aantal
...,...,...,...,...,...,...,...,...,...,...
73,Long,0,Het betreft voorlopige cijfers.,None,M000200_2,105,M000200_1,Absolute,Bedrijfsvestigingen totaal,aantal
74,Long,0,Het betreft voorlopige cijfers.,None,301000,107,M000200_3,Absolute,"A Landbouw, bosbouw en visserij",aantal
75,Long,0,Het betreft voorlopige cijfers.,None,300003,108,M000200_3,Absolute,B-F Nijverheid en energie,aantal
76,Long,0,Het betreft voorlopige cijfers.,None,300005,109,M000200_3,Absolute,G+I Handel en horeca,aantal
77,Long,0,Het betreft voorlopige cijfers.,None,383105,110,M000200_3,Absolute,"H+J Vervoer, informatie en communicatie",aantal
78,Long,0,Het betreft voorlopige cijfers.,None,300009,111,M000200_3,Absolute,"K-L Financiële diensten, onroerend goed",aantal
79,Long,0,Het betreft voorlopige cijfers.,None,300010,112,M000200_3,Absolute,M-N Zakelijke dienstverlening,aantal
80,Long,0,Het betreft voorlopige cijfers.,None,300014,113,M000200_3,Absolute,"R-U Cultuur, recreatie, overige diensten",aantal
81,Long,0,Personenauto\r\nMotorvoertuig voor personenver...,None,A018943_2,116,A018943_1,Absolute,Personenauto's totaal,aantal
82,Long,0,Het aantal personenauto's jonger dan 6 jaar. D...,None,40001,118,A018943_3,Absolute,Personenauto's; jonger dan 6 jaar,aantal
83,Long,0,Het aantal personenauto's van 6 jaar en ouder....,None,72003,119,A018943_3,Absolute,Personenauto's; 6 jaar en ouder,aantal
84,Long,0,Het aantal personenauto's rijdend op benzine.,None,A019276,121,A018943_4,Absolute,Personenauto's; brandstof benzine,aantal
85,Long,0,Het aantal personenauto's met overige brandsto...,None,M002179,122,A018943_4,Absolute,Personenauto's; overige brandstof,aantal
86,Double,1,Het aantal personenauto's per (particulier) hu...,None,M000368,123,A018943_1,Absolute,Personenauto's per huishouden,per huishouden
87,Long,0,Het aantal personenauto's per km² land op 1 ja...,None,A018943_5,124,A018943_1,Relative,Personenauto's naar oppervlakte,per km²
88,Long,0,Motorfiets\r\nVoertuig voor het wegverkeer op ...,None,A018944,125,A018928,Absolute,Motorfietsen,aantal
89,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000028,127,D000349,Absolute,Afstand tot huisartsenpraktijk,km
90,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000025,128,D000349,Absolute,Afstand tot grote supermarkt,km
91,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000029,129,D000349,Absolute,Afstand tot kinderdagverblijf,km
92,Double,1,De gemiddelde afstand van alle inwoners in een...,None,D000045,131,A025280,Absolute,Afstand tot school,km
93,Double,1,Het gemiddeld aantal scholen binnen 3 kilomete...,None,D000263,132,A025280,Absolute,Scholen binnen 3 km,aantal
94,Long,0,De totale oppervlakte is de som van de oppervl...,None,T001455_2,134,T001455_1,Absolute,Oppervlakte totaal,ha
95,Long,0,De oppervlakte land is bepaald door het meest ...,None,A047044,135,T001455_1,Absolute,Oppervlakte land,ha
96,Long,0,Oppervlakte water omvat zowel binnen- als buit...,None,A047040,136,T001455_1,Absolute,Oppervlakte water,ha
97,Integer,0,Indicatie (in zes klassen) van het percentage ...,None,M000217,139,PC000B,Absolute,Dekkingspercentage,code
98,Integer,0,Op grond van de omgevingsadressendichtheid is ...,None,ST0001,141,T001086,Absolute,Mate van stedelijkheid,code
99,Long,0,De omgevingsadressendichtheid (OAD) van een bu...,None,ST0003,142,T001086,Relative,Omgevingsadressendichtheid,per km²
100,Long,0,Deze regel geeft het totaal weer van 'Diefstal...,None,CRI1100,144,T001161,Relative,Totaal diefstal uit woning/schuur/e.d.,per 1 000 inwoners
101,Long,0,,None,CRI2000,145,T001161,Relative,"Vernieling, misdrijf tegen openbare orde",per 1 000 inwoners
102,Long,0,,None,CRI3000,146,T001161,Relative,Gewelds- en seksuele misdrijven,per 1 000 inwoners

In [6]:
# het voorbeeld van de website van CBS:
table_url = "https://odata4.cbs.nl/CBS/83765NED"

target_url = table_url + "/Observations"
#data = get_odata(target_url)
#print(data.head())

In [7]:
#tabel 2019
#lastyear_url = "https://odata4.cbs.nl/CBS/84583NED"

## Filteren van query
Het filteren van de data maakt het downloaden sneller.
Het filteren van 'Observations' data kan door code van dit format achter de url te plakken:

**?$filter=WijkenEnBuurten eq 'GM0363' and Measure eq 'T001036'**

**$filter=Measure in ('M001607', 'M001636')**

De code uit de kolom WijkenEnBuurten kun je vinden met 

**get_odata(table_url + "/WijkenEnBuurtenCodes")**

De 'Title' kolom van deze tabel bevat de namen van wijken, zodat je kan zoeken met str.find, <>.str.contains of Regex.
Zoals wel vaken met tekstkolommen moet je dan vertrouwen op de volledigheid en consistentie.
Achteraf controleren of je wel de juiste weijken hebt s dus wel aangeraden.
De kolom WijkenenBuurten bevat zowel landen, gemeenten, wijken als buurten.
Aan het voorvoegsel van twee letters kun je zien met welke soort regio je te maken hebt.

Zie https://www.cbs.nl/nl-nl/onze-diensten/open-data/open-data-v4/filters-odata-v4 voor meer uitleg.
Voor de volledige documentie, zie https://www.odata.org/getting-started/basic-tutorial/#topskip
of ga naar https://help.nintex.com/en-US/insight/OData/HE_CON_ODATAQueryCheatSheet.htm voor een beknopte cheatsheet

Voor geavanceerdere filters moet je functies aanroepen in de URL.
Zie http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part2-url-conventions/odata-v4.0-errata03-os-part2-url-conventions-complete.html#_Toc453752358, sectie 5.1.1.5
Dat ziet er zo uit:
http://host/service/Customers?$filter=contains(CompanyName,'Alfreds')
of
http://host/service/Customers?$filter=contains(CompanyName,'Alfreds') and Country eq 'Netherlands'

In [8]:
table_test = get_observations(url_voorbeeld, url_filter="$filter=contains(WijkenEnBuurten,'GM')")
#table_test = get_observations(url_voorbeeld)

In [9]:
print(table_test.columns)
print(table_test.head(5))
# Kolom ValueAttribute heeft geen waarden

Index(['Id', 'Measure', 'Value', 'ValueAttribute', 'WijkenEnBuurten'], dtype='object')
    Id  Measure    Value ValueAttribute WijkenEnBuurten
0  103  T001036  25286.0           None          GM1680
1  104     3000  12603.0           None          GM1680
2  105     4000  12683.0           None          GM1680
3  106    10680   3572.0           None          GM1680
4  107    53050   2558.0           None          GM1680

In [10]:
# Deze tabel bevat alle gemeente, maar GEEN info over wijken en buurten

data_gemeenten = get_odata(url_voorbeeld+"/WijkenEnBuurtenGroups")

print(data_gemeenten.size)
print(data_gemeenten.columns)
print(data_gemeenten.head(10))
# ParentId geeft voor wijken de buurt aan, voor wijken de plaatsnaam, voorplaatsnamen de gemeente etc.

1960
Index(['Description', 'Id', 'Index', 'ParentId', 'Title'], dtype='object')
  Description      Id  Index ParentId                           Title
0        None    WBGM      0     None  Wijken en buurten per gemeente
1        None  GM1680      1     WBGM                     Aa en Hunze
2        None  GM0738      2     WBGM                         Aalburg
3        None  GM0358      3     WBGM                        Aalsmeer
4        None  GM0197      4     WBGM                          Aalten
5        None  GM0059      5     WBGM                   Achtkarspelen
6        None  GM0482      6     WBGM                    Alblasserdam
7        None  GM0613      7     WBGM                   Albrandswaard
8        None  GM0361      8     WBGM                         Alkmaar
9        None  GM0141      9     WBGM                          Almelo

In [11]:
filter_gemeente = data_gemeenten['Title'] == 'Oss'
print(data_gemeenten[filter_gemeente])
selectie_gem = data_gemeenten[filter_gemeente]['Id'].values[0]
selectie_gem

    Description      Id  Index ParentId Title
254        None  GM0828    254     WBGM   Oss

'GM0828'

In [12]:
# Deze tabel bevat codes van wijken en buurten en toont bij welke gemeente ze horen. De gemeenten staan er ook in.
data_geocodes = get_odata(url_voorbeeld+"/WijkenEnBuurtenCodes")
print(data_geocodes.size)
print(data_geocodes.columns)
print(data_geocodes.head(10))
# Ik denk dat DimensionGroupId te maken heeft met hierarchische indeling maar niet hetzelfde is als parentId.
# DetailRegionCode is hetzelfde als Identifier

100002
Index(['Description', 'DetailRegionCode', 'DimensionGroupId', 'Identifier',
       'Index', 'Title'],
      dtype='object')
  Description DetailRegionCode DimensionGroupId  Identifier  Index  \
0                         None               NL        NL00      1
1                       GM1680               GM      GM1680      2
2                     WK168000           GM1680    WK168000      3
3                   BU16800000           GM1680  BU16800000      4
4                   BU16800009           GM1680  BU16800009      5
5                     WK168001           GM1680    WK168001      6
6                   BU16800100           GM1680  BU16800100      7
7                   BU16800109           GM1680  BU16800109      8
8                     WK168002           GM1680    WK168002      9
9                   BU16800200           GM1680  BU16800200     10

                     Title
0                Nederland
1              Aa en Hunze
2            Wijk 00 Annen
3                    Annen
4  Verspreide huizen Annen
5             Wijk 01 Eext
6                     Eext
7   Verspreide huizen Eext
8            Wijk 02 Anloo
9                    Anloo

In [13]:
# Gebruik van Regular Expressions sterk aanbevolen om verschil met hele woorden te zien,
# Maakt implementatie wel iets ingewikkelder.
filter_BU = data_geocodes['Identifier'].str.contains("BU")
filter_WK = data_geocodes['Identifier'].str.contains("WK")

filter_BUWKopgem = data_geocodes['DimensionGroupId'] == selectie_gem
#print(data_geocodes[filter_BUWKopgem])
selectie_WK = data_geocodes[filter_WK & filter_BUWKopgem]["Identifier"]
print(selectie_WK)
#selectie_BU = data_geocodes[filter_BU & filter_BUWKopgem]["Identifier"]
#print(selectie_BU)

11353    WK082800
11357    WK082801
11365    WK082802
11369    WK082803
11378    WK082804
11384    WK082805
11389    WK082806
11400    WK082807
11411    WK082808
11416    WK082809
11422    WK082810
11428    WK082811
11432    WK082812
11436    WK082813
11440    WK082814
11446    WK082815
11450    WK082816
11454    WK082817
11460    WK082818
11463    WK082819
11468    WK082820
11471    WK082821
11477    WK082822
Name: Identifier, dtype: object

In [14]:
url_test = "$filter=WijkenEnBuurten eq '"+selectie_gem+"'"
# Alleen op deze manier kan je een ID uit de geografische tabel in het url-filter plaatsen. Ook de spaties tellen.)
#table_test = get_observations(url_voorbeeld, url_filter=url_test)
#table_test.head()

In [15]:
def maak_lijst_plaatsen(database, plaatsnaam, soort, exact = True, is_gemeente=True):
    """Voer de code van de database, de naam van een gemeente in, en GM, WK of BU.
    Functie filtert met URL. Als exact = False, dan tellen zoekresultaten die de string bevatten ook mee.
    Exact filter
    Functie maakt een lijst van codes binnen die gemeente.
    Zoeken op plaats binnen een gemeente kan ook maar is niet robuust want dan worden alle gemeenten doorzocht."""

    url = "https://odata4.cbs.nl/CBS/" + database
    filter_url = "$filter="
    if is_gemeente:
        data_gemeenten = get_odata(url+"/WijkenEnBuurtenGroups")
        if exact:
            filter_gemeente = data_gemeenten['Title'] == plaatsnaam
        else:
            filter_gemeente = data_gemeenten['Title'].str.contains(plaatsnaam)
            if sum(filter_gemeente) == 1:
                pass
            else:
                print("Kies uit één van deze gemeenten en roep de functie nogmaals aan met de selectie. \n")
                print(data_gemeenten[filter_gemeente])
                return data_gemeenten[filter_gemeente]['Identifier']
        
        selectie_gem = data_gemeenten[filter_gemeente]["Id"].values[0]
        plaatsen = get_odata(url+"/WijkenEnBuurtenCodes"+"?"+filter_url+"DimensionGroupId eq '"+selectie_gem+"'")
    
    else:
        if exact:
            plaatsen = get_odata(url+"/WijkenEnBuurtenCodes"+filter_url+"Title eq '"+plaatsnaam+"'")
        else:
            plaatsen = get_odata(url+"/WijkenEnBuurtenCodes"+filter_url+"contains(Title, '"+plaatsnaam+"')")
        
    if soort == "GM":
        return plaatsen[plaatsen["Identifier"].str.contains("GM")]["Identifier"]
    elif soort == "WK":
        return plaatsen[plaatsen["Identifier"].str.contains("WK")]["Identifier"]
    elif soort == "BU":
        return plaatsen[plaatsen["Identifier"].str.contains("BU")]["Identifier"]
    pass

In [16]:
lijst_test = maak_lijst_plaatsen("83765NED", "Oss", "WK")
print(type(lijst_test))
lijst_test

<class 'pandas.core.series.Series'>

0      WK082800
4      WK082801
12     WK082802
16     WK082803
25     WK082804
31     WK082805
36     WK082806
47     WK082807
58     WK082808
63     WK082809
69     WK082810
75     WK082811
79     WK082812
83     WK082813
87     WK082814
93     WK082815
97     WK082816
101    WK082817
107    WK082818
110    WK082819
115    WK082820
118    WK082821
124    WK082822
Name: Identifier, dtype: object

# Samenvoegen data

In [17]:
def formatteer_tabel(df):
    """Formatteert een tabel met observaties naar een formaat met één kolom voor elke meting en één rij per plaats.
    De codes voor plaatsen worden de index, de kolommen krijgen als naam de Identifier van de measure.
    Dat betekent dat extra informatie over de hierarchie van measures of plaatsen nog moet worden toegevoegd.
    Deze functie verwijdert dubbele waarden en vult NaN's niet in."""
    
    df2 = df.pivot(index="Id", columns="Measure", values="Value")
    df2 = df2.merge(df[["Id","WijkenEnBuurten"]], how="left", left_index=True, right_on="Id").drop("Id", axis=1)
    df2 = df2.groupby("WijkenEnBuurten").first()
    return df2

#formatteer_tabel(table_test)

In [18]:
#test2 = table_test.pivot(index="Id", columns="Measure", values="Value") # Zelfs voor hele dataset snel te doen
#test2 = test2.merge(table_test[["Id","WijkenEnBuurten"]], how="left", left_index=True, right_on="Id").drop("Id", axis=1)
#test2.head(20)
#test2.groupby("WijkenEnBuurten").first()
# Deze tabel heeft het gewenste format, maar de tabel heeft een index als lijst van kolommen

table_final = formatteer_tabel(table_test)
table_final.head()

,1010,1014800_1,1014800_2,1014800_3,1014850_2,1014850_3,1014850_4,1016030,1016040,1020,...,ZW10320_2,ZW10340,ZW25805_1,ZW25805_2,ZW25806_1,ZW25806_2,ZW25807,ZW25808,ZW25810_1,ZW25810_2
WijkenEnBuurten,,,,,,,,,,,,,,,,,,,,,
GM0003,5075.0,48.0,2830.0,1630.0,51.0,2140.0,1220.0,1733.0,1800.0,4997.0,...,1960.0,28.0,2560.0,1360.0,2650.0,1550.0,15.0,85.0,1790.0,960.0
GM0005,4599.0,68.0,2830.0,1680.0,31.0,2070.0,1280.0,1580.0,1526.0,4720.0,...,2020.0,14.0,2530.0,1380.0,2520.0,1510.0,14.0,86.0,1690.0,890.0
GM0007,3259.0,71.0,3520.0,2040.0,28.0,2370.0,1620.0,1179.0,1606.0,4294.0,...,2130.0,6.0,2230.0,1470.0,2400.0,1630.0,6.0,94.0,1810.0,1080.0
GM0009,3231.0,77.0,2890.0,1730.0,23.0,2100.0,1340.0,1176.0,987.0,3137.0,...,2000.0,9.0,2530.0,1440.0,2570.0,1610.0,15.0,85.0,1740.0,780.0
GM0010,10264.0,62.0,2890.0,1670.0,37.0,2160.0,1310.0,3585.0,3815.0,10894.0,...,2000.0,22.0,2650.0,1400.0,2660.0,1570.0,9.0,91.0,1750.0,1020.0

# Selecteren features

In [19]:
def feature_select(df, csv_file):
    selectie = set(pd.read_csv(csv_file, sep=";")["Identifier"])
    test = set(df.columns)
    selectie = [feature for feature in selectie if feature in df.columns]
    df = df[selectie]
    return df
    
def generate_feature_dict(csv_file):
    feature_frame = pd.read_csv(csv_file, sep=";")
    feature_dict = {a:b for a,b in zip(feature_frame['Identifier'], feature_frame['Title']) }
    return feature_dict

def wissel_naar_titels(df,feature_dict):
    titels = [feature_dict[Identifier] for Identifier in df.columns]
    df.columns = titels
    
    return df

In [20]:
feature_all = pd.read_csv("features_alles.csv",sep=";")
table_final = feature_select(table_final, "features_test2.csv")

# Het is handiger om pas op het laatste moment de identifiers in de kolomnamen te vervangen door de titels
table_final = wissel_naar_titels(table_final, generate_feature_dict("features_alles.csv"))
table_final.head(15)

,Gemiddeld inkomen per inkomensontvanger,Eigen woning,Eigendom onbekend,Personenauto's totaal,Bouwjaar voor 2000,Bouwjaar vanaf 2000,Gehuwd,20% personen met hoogste inkomen,Huishoudens zonder kinderen,Bedrijfsvestigingen totaal,...,Gewelds- en seksuele misdrijven,Huishoudens totaal,Vrijstaande woning,Aantal inkomensontvangers,Personenauto's per huishouden,Personen per soort uitkering; WW,Percentage eengezinswoning,Mate van stedelijkheid,Personenauto's; overige brandstof,Afstand tot school
WijkenEnBuurten,,,,,,,,,,,,,,,,,,,,,
GM0003,26.8,1630.0,1.0,5405.0,85.0,15.0,4997.0,13.3,1800.0,580.0,...,6.0,5600.0,1960.0,9400.0,1.0,320.0,72.0,3.0,810.0,0.9
GM0005,28.9,1680.0,0.0,4930.0,86.0,14.0,4720.0,16.8,1526.0,700.0,...,2.0,4399.0,2020.0,8100.0,1.1,250.0,86.0,4.0,940.0,0.7
GM0007,26.8,2040.0,1.0,5275.0,94.0,6.0,4294.0,13.4,1606.0,705.0,...,4.0,3989.0,2130.0,7100.0,1.3,190.0,94.0,5.0,1200.0,1.3
GM0009,29.6,1730.0,0.0,3645.0,85.0,15.0,3137.0,18.3,987.0,575.0,...,2.0,2958.0,2000.0,5500.0,1.2,130.0,91.0,5.0,715.0,0.6
GM0010,27.1,1670.0,1.0,12155.0,91.0,9.0,10894.0,14.2,3815.0,1590.0,...,7.0,11527.0,2000.0,19700.0,1.1,590.0,78.0,4.0,2190.0,0.8
GM0014,26.9,1360.0,1.0,71805.0,87.0,13.0,44753.0,15.5,25353.0,15690.0,...,8.0,122280.0,2230.0,161700.0,0.6,4020.0,36.0,1.0,19380.0,0.7
GM0015,27.3,1870.0,2.0,6435.0,85.0,15.0,5322.0,13.9,1528.0,1050.0,...,2.0,4821.0,2030.0,9300.0,1.3,290.0,92.0,5.0,1800.0,0.8
GM0017,40.3,2100.0,0.0,9480.0,91.0,9.0,8250.0,29.5,2753.0,1680.0,...,4.0,8707.0,3020.0,14900.0,1.1,320.0,77.0,4.0,2100.0,0.8
GM0018,26.2,1710.0,1.0,16135.0,85.0,15.0,13684.0,12.8,4842.0,1945.0,...,5.0,15716.0,2260.0,26700.0,1.0,890.0,70.0,3.0,2725.0,0.7
GM0022,29.6,1760.0,0.0,10055.0,83.0,17.0,8592.0,16.9,2797.0,1695.0,...,2.0,8330.0,2130.0,15200.0,1.2,470.0,86.0,4.0,2345.0,1.0
GM0024,28.3,1910.0,2.0,5135.0,94.0,6.0,4364.0,15.7,1513.0,855.0,...,3.0,4342.0,2020.0,7800.0,1.2,220.0,91.0,5.0,1170.0,1.4
GM0025,29.2,1910.0,0.0,5880.0,84.0,16.0,4537.0,15.9,1419.0,915.0,...,3.0,4241.0,2120.0,8200.0,1.4,240.0,93.0,5.0,1770.0,1.0
GM0034,32.1,490.0,0.0,243390.0,69.0,31.0,72978.0,21.3,20397.0,15290.0,...,6.0,84009.0,1000.0,152000.0,NaN,5230.0,74.0,2.0,126740.0,0.6
GM0037,25.2,1900.0,2.0,16360.0,88.0,12.0,14281.0,11.2,4899.0,2220.0,...,5.0,14554.0,2200.0,25600.0,1.1,770.0,78.0,4.0,3140.0,0.8
GM0040,30.2,1840.0,1.0,8470.0,87.0,13.0,6604.0,19.1,2201.0,1285.0,...,3.0,6272.0,2030.0,11600.0,1.4,360.0,92.0,5.0,1910.0,1.1

In [21]:
def concat_DataFrames(LoF):
    """Neemt een lijst of dict van DataFrames aan uit verschillende zoekopdrachten en maakt er één geheeld van.
    Kolommen moeten wel hetzelfde zijn."""
    
    if type(LoF) == list:
        fullframe = LoF[0]
        for frame in LoF[1:]:
            fullframe = pd.concat([fullframe,frame], axis=0, sort=False)
    elif type(LoF) == dict:
        keys = list(LoF.keys())
        fullframe = LoF[keys[0]]
        for key in keys[1:]:
            fullframe = pd.concat([fullframe,LoF[key]], axis=0, sort=False)
    else:
        pass
    
    return fullframe

In [31]:
# Alles bij elkaar (in één functie):

def parserOData4(database, plaatsen, feature_dict=None, custom_filter = ""):
    """Deze functie neemt een code van de dataset op Odata4 en van plaatsCODES aan.
    Je kan ook "GM", "BU" of "WK" invoeren in plaats van en lijst met codes
    om data uit alle gemeenten, buurten of wijken op te vragen.
    Het vraagt dan per code de dataset op en voegt de dataframes samen.
    De code van de dataset is de combinatie van cijfers en letters achteraan de url:
    https://odata4.cbs.nl/CBS/83765NED
    Je kan ook zelf een filter genereren dat achter de andere filters geplakt wordt.
    Zie docstring van get_observations voor meer info"""
    
    table_url = "https://odata4.cbs.nl/CBS/"+database
    if custom_filter != "":
        custom_filter = " and "+custom_filter
    
    
    if type(plaatsen) == list or type(plaatsen) == pd.Series:
        print("Aantal rijen om op te halen: {}".format(len(plaatsen)))
        frames = {}
        for plaats in plaatsen:
            url_filter = "$filter=WijkenEnBuurten eq '"+plaats+"'"+custom_filter
            # Voor testen:
            frames[plaats] = formatteer_tabel(get_observations(table_url, url_filter))
            time.sleep(0.5)            
            
        print("Download geslaagd.")
        observations = concat_DataFrames(frames)
        if type(feature_dict) == dict:
            # Geen functie voor nodig, één list comprehesion is al voldoende
            feature_selectie = [feature for feature in feature_dict.keys() if (feature in observations.columns)]
            observations = observations[feature_selectie]
        return observations
    
    elif plaatsen == "GM":
        url_filter = "$filter=contains(WijkenEnBuurten,'GM')"
    elif plaatsen == "BU":
        url_filter = "$filter=contains(WijkenEnBuurten,'BU')"
    elif plaatsen == "WK":
        url_filter = "$filter=contains(WijkenEnBuurten,'WK')"
    else:
        url_filter = "$filter=WijkenEnBuurten eq '"+plaatsen+"'"
    
    
    url_filter = url_filter + custom_filter
    print(table_url + url_filter)
    observations = get_observations(table_url, url_filter)
    print("Download geslaagd.")
    
    observations = formatteer_tabel(observations)
    if type(feature_dict) == dict:
        # Geen functie voor nodig, één list comrpehesion is al voldoende
        feature_selectie = [feature for feature in feature_dict.keys() if (feature in observations.columns)]
        observations = observations[feature_selectie]
    
    return observations

In [23]:
#Test met GM, check!
#parserOData4("83765NED", "GM")
#Test met enkele code, check!
#parserOData4("83765NED",selectie_gem)
#Test beide met extra filter, check!
#parserOData4("83765NED", "GM", custom_filter="contains(Measure, 'M000')")
#parserOData4("83765NED", selectie_gem, custom_filter="contains(Measure, 'M000')")
#check en check!

In [33]:
test = "test"
# Functie die lijsten maakt werkt!
# Test parser met lijst, check!
print(maak_lijst_plaatsen("83765NED","Oss", "WK"))
#test = parserOData4("83765NED", maak_lijst_plaatsen("83765NED","Oss", "WK"))
# Test parser met lijst en extra filter, check!
test = parserOData4("83765NED", maak_lijst_plaatsen("83765NED","Oss", "WK"), custom_filter="contains(Measure,'M000')")
test

0      WK082800
4      WK082801
12     WK082802
16     WK082803
25     WK082804
31     WK082805
36     WK082806
47     WK082807
58     WK082808
63     WK082809
69     WK082810
75     WK082811
79     WK082812
83     WK082813
87     WK082814
93     WK082815
97     WK082816
101    WK082817
107    WK082818
110    WK082819
115    WK082820
118    WK082821
124    WK082822
Name: Identifier, dtype: object
Aantal rijen om op te halen: 23
Download geslaagd.

,M000100,M000114,M000173_1,M000173_2,M000179_1,M000179_2,M000200_2,M000219_2,M000221_2,M000223,M000224,M000226,M000232,M000297,M000302,M000368
WijkenEnBuurten,,,,,,,,,,,,,,,,
WK082800,5170.0,1.7,45.0,8.0,115.0,20.0,675.0,1060.0,2330.0,26.8,23.6,9.2,4800.0,3306.0,57.7,0.8
WK082801,4702.0,2.1,110.0,11.0,65.0,6.0,480.0,1220.0,2960.0,27.3,21.9,9.2,7700.0,4499.0,57.4,0.9
WK082802,152.0,2.7,0.0,5.0,5.0,10.0,540.0,2400.0,4170.0,32.3,25.1,3.1,300.0,134.0,65.7,NaN
WK082803,2948.0,2.1,65.0,10.0,40.0,6.0,415.0,1480.0,2990.0,33.0,27.3,5.7,5100.0,2922.0,60.8,1.0
WK082804,4106.0,2.5,90.0,11.0,40.0,4.0,460.0,1330.0,3470.0,31.3,24.5,5.1,6300.0,3213.0,62.2,1.2
WK082805,43.0,2.5,0.0,6.0,0.0,19.0,385.0,2960.0,5620.0,38.1,30.3,NaN,100.0,59.0,71.2,NaN
WK082806,3167.0,2.2,120.0,9.0,145.0,11.0,660.0,1390.0,2960.0,27.2,22.0,7.7,10500.0,5923.0,51.5,1.0
WK082807,4553.0,2.3,100.0,7.0,85.0,6.0,720.0,1370.0,3280.0,31.5,25.8,4.5,11100.0,5786.0,58.6,1.2
WK082808,45.0,3.2,0.0,5.0,0.0,2.0,70.0,2710.0,4790.0,34.4,26.7,3.7,300.0,110.0,67.9,1.5
WK082809,64.0,2.2,0.0,0.0,0.0,8.0,100.0,2790.0,5170.0,44.2,37.3,11.9,300.0,112.0,54.5,1.6
WK082810,876.0,2.6,125.0,12.0,60.0,6.0,775.0,1480.0,3760.0,32.9,25.4,2.8,7600.0,3806.0,65.0,1.3
WK082811,130.0,2.6,5.0,10.0,5.0,7.0,60.0,2000.0,4460.0,29.7,25.3,3.1,600.0,263.0,61.2,1.4
WK082812,144.0,2.4,10.0,12.0,0.0,4.0,75.0,1850.0,3940.0,31.9,26.5,3.8,600.0,287.0,58.0,1.4
WK082813,313.0,2.3,20.0,11.0,10.0,6.0,130.0,1710.0,3550.0,30.9,25.5,6.4,1300.0,689.0,59.5,1.3
WK082814,639.0,2.3,30.0,8.0,15.0,4.0,345.0,1580.0,3290.0,32.4,26.4,4.2,2800.0,1514.0,58.8,1.2
WK082815,204.0,2.4,20.0,6.0,25.0,9.0,295.0,1700.0,3890.0,29.0,24.2,3.4,2400.0,1236.0,60.6,1.3
WK082816,94.0,2.4,0.0,4.0,5.0,9.0,80.0,2070.0,4320.0,33.4,28.2,5.1,600.0,288.0,63.3,1.5
WK082817,83.0,2.5,5.0,7.0,5.0,7.0,140.0,2100.0,4280.0,32.9,27.3,1.8,900.0,421.0,59.6,1.4
WK082818,316.0,2.5,35.0,11.0,15.0,5.0,315.0,1750.0,3790.0,30.4,24.4,3.8,2400.0,1205.0,60.2,1.3
WK082819,67.0,2.9,5.0,5.0,5.0,5.0,170.0,2200.0,4280.0,34.4,27.7,2.3,900.0,408.0,64.6,1.6
WK082820,221.0,2.5,15.0,12.0,0.0,1.0,125.0,1840.0,4070.0,32.7,27.0,2.5,900.0,490.0,65.4,1.5
WK082821,74.0,2.5,15.0,10.0,10.0,6.0,180.0,1950.0,4220.0,32.2,26.5,3.7,1100.0,542.0,61.4,1.5
WK082822,433.0,2.5,70.0,14.0,30.0,6.0,560.0,1670.0,3770.0,31.6,25.5,3.3,3800.0,1917.0,62.8,1.4

# To do: 

- Fix Odata3 parser met slim gekozen filters en dezelfde functies als OData4
- Analyseer en bewerk NaN's. Veel algoritmen van SciKit kunnen niet overweg met NaN.

Dan zouden alle gewenste functies klaar moeten zijn en kan het notebook worden opgeschoont of omgezet naar .py
De hierarchische indeling van locaties moet nog wel toegevoegd worden maar omdat daar andere bestanden voor nodig zijn
is het netjes om in een ander notebook verder te gaan.
Bovendien zijn de codes in Odata4 niet direct gelinkt aan postcodes dus voor veel buurten is niet automatisch vast te stellen waar deze zich bevinden.
- Zoek een tabel waar postcodes en buurtcodes van CBS met elkaar gelinkt worden.