# Opstellen database
### TO DO: PC6 data en PC4 data koppelen met PC6 code als index.
Data van statline is te vinden tot op buurtniveau, met hier en daar missende waarden. Hoe groter de schaal, hoe betrouwbaarder de data.
- Haal de data op buurtniveau op. Geef een totaal van de missende waarden.
- De data met adressen dient als relationele tabel. Zorg ervoor dat deze geschikt is.
- Met die tabel kan Statline-data gekoppeld worden aan PC6 data. Controleer of dit moet per huisnummer, straat of PC6 (eventueel PC4).
- Het moet mogelijk zijn om kolommen te kiezen met een tekstbestand. Minder kolommen is meer overzicht, zeker bij testen
- Meer informatie over de kolommen moet makkelijk te vinden zijn.
- Verpak alles in een overzichtelijke python file die geen specifieke namen van mappen aanneemt.
- Als meerdere uitslagen teglijk gebruikt worden is er multi-index of andere naamgeving van kolommen nodig. (Van toepassing op gebruik eerdere uitslagen als features)
- Data over criminaliteit moet apart van data.politie.nl gehaald worden.

In [1]:
# import database
code2020 = "84799NED"
code2019 = "84583NED" # Kerncijfers wijken en buurten 2019
code2017 = "83765NED" # Kerncijfers wijken en buurten 2017
# Toelichting: https://www.cbs.nl/nl-nl/maatwerk/2017/31/kerncijfers-wijken-en-buurten-2017
# en https://www.cbs.nl/nl-nl/maatwerk/2019/31/kerncijfers-wijken-en-buurten-2019

# Voor data die codes uit Statline koppelt aan postcodes, starten en huisnummers zie:
# https://www.cbs.nl/nl-nl/maatwerk/2019/42/buurt-wijk-en-gemeente-2019-voor-postcode-huisnummer
postcodes = ("2019-cbs-pc6huisnr20190801_buurt/pc6hnr20190801_gwb.csv" , ";")
postcodes_plus = ('Data/index_plaatsen.csv', ';')
# De andere bestanden in die map bevatten de naam en code van respectievelijk buurten, wijken en gemeenten

# Kerncijfers wijken en buurten is niet in Odata4 beschikbaar.
# Downloaden data is het handigste, want Odata3 beperkt aantal rijen per verzoek.
# In omgeving van auteur zitten alle losse CSV bestanden in een map genaamd Data 
Statline2017 = "Kerncijfers_wijken_en_buurten_2017_22102020_140730.csv"
Statline2019 = "Kerncijfers_wijken_en_buurten_2019_22102020_140530.csv"
PC6_selectie = "CBS_PC6_selectie.csv"
EP2019 = "adressen_gl_prioriteit/adressen_EP2019.csv"
PS2019 = "adressen_gl_prioriteit/adressen_PS2019.csv"
TK2017 = "adressen_gl_prioriteit/adressen_TK2017.csv"
GR2018 = "adressen_gl_prioriteit/adressen_GR2018.csv"

Info over features te downloaden vanaf https://www.cbs.nl/nl-nl/maatwerk/2019/31/kerncijfers-wijken-en-buurten-2019
of als csv-bestand met

props = get_odata(url+"/DataProperties")
props.to_csv("MeasureCodes.csv", sep=";", na_rep="None")

Na het importeren van CBSparserOData3.get_odata (als deze af is) ...
Of download de CVS met features en de codes en wis de rijen met features die je niet wilt gebruiken. (Sla op als kopie)

In [2]:
import numpy as np
import pandas as pd
import CBSparserOData4
import re
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
def laad_uitslagenPC6(path):
    uitslagen = pd.read_csv(path,sep="|")
    uitslagen['PC6'] = uitslagen['postcode']
    uitslagen['PC4'] = uitslagen['postcode'].str[0:4]
    uitslagen.drop(['postcode','huisnummertoevoeging','letter'], inplace = True, axis=1)
    register = uitslagen[['stad','straatnaam','stembureau','postcode_stembureau','PC6','PC4']]
    
    # Voor het gemak brengen we de data terug naar PC6 niveau, want de CBS data heeft toch niet meer nauwkeurigheid.
    # Later kan worden gecorrigeerd voor verschillen tussen PC6 en de zone rondom een stembureau.
    # Voordat de data gegroepeerd wordt moeten tabellen voor het koppelen van tekstkolommen bewaard worden.
    # Want een groupby wist alle tekstkolommen.
    # verkiezing = demo['verkiezing'].values[0] # Deze waarde is nodig mochten meerdere verkiezingen tegelijk geladen worden.
    
    uitslagen=uitslagen.groupby('PC6').median()
    #uitslagen=uitslagen.groupby(['postcode_stembureau','straatnaam']).median()
    #uitslagen=uitslagen.groupby(['PC6','straatnaam']).median()
    
    return uitslagen, register

In [4]:
def laad_CBSdataPC6(path):
    demo = pd.read_csv(path, sep=",", index_col=0)
    demo = demo.groupby('PC6').median()
    
    return demo

Er is ook een lijst nodig van Ã¡lle postcodes voor een volledige dataset op PC6 niveau. Alle PC4 is het minimum. Het koppelen van de codes van bijbehorende wijk, buurt en gemeente is hierbij handig.

In [16]:
def prefixer(s, prefix, lengte):
    s = str(s)
    while len(s) < lengte:
        s = '0' + s
    s = prefix + s
    return s

def get_index(index):
    if 'PC6' in index.columns:
        index = index.groupby('PC6').median()
        # Else postcodes is al de index
    index['Buurt2019'] = index['Buurt2019'].astype('int').apply(lambda s: prefixer(s,'BU', 8))
    index['Wijk2019'] = index['Wijk2019'].astype('int').apply(lambda s: prefixer(s, 'WK', 6))
    index['Gemeente2019'] = index['Gemeente2019'].astype('int').apply(lambda s: prefixer(s, 'GM', 4))
    return index 

def get_prioriteit(df):
    if 'prioriteit' in df.columns:
        if 'PC6' in df.columns:
            return(df[['PC6','prioriteit']])
        else:
            return df.prioriteit

In [59]:
index_postcodes = pd.read_csv(postcodes[0], sep = postcodes[1])
index_postcodes = index_postcodes.groupby('PC6').median().drop('Huisnummer', axis=1)
for col in index_postcodes.columns:
    index_postcodes[col] = index_postcodes[col].astype('int')
print(index_postcodes.head())
print(index_postcodes.shape)

index_plaatsen = pd.read_csv('Data/PlaatsenIndex.csv', sep=";")
print(index_plaatsen.columns)
index_plaatsen.head()

        Buurt2019  Wijk2019  Gemeente2019
PC6
1011AB    3630400     36304           363
1011AC    3630400     36304           363
1011AD    3630400     36304           363
1011AE    3630400     36304           363
1011AG    3630403     36304           363
(460289, 3)
Index(['Unnamed: 0', 'Description', 'DetailRegionCode', 'Key', 'Municipality',
       'Title'],
      dtype='object')

,Unnamed: 0,Description,DetailRegionCode,Key,Municipality,Title
0,0,NaN,NaN,NL00,NaN,Nederland
1,1,NaN,GM1680,GM1680,GM1680,Aa en Hunze
2,2,NaN,WK168000,WK168000,GM1680,Wijk 00 Annen
3,3,NaN,BU16800000,BU16800000,GM1680,Annen
4,4,NaN,BU16800009,BU16800009,GM1680,Verspreide huizen Annen

In [60]:
# Bovenstaande cel runnen om dataframes te resetten.

#print(index_plaatsen['DetailRegionCode'] == index_plaatsen['Key']) # Welke kolom gebruik je?
index_postcodes = get_index(index_postcodes)
index_postcodes['PC6'] = pd.Series(index_postcodes.index, index=index_postcodes.index)
print(index_postcodes.head(5))

print(index_plaatsen.dtypes)
print(index_postcodes.dtypes)
index_plaatsen = index_plaatsen[['Description','Key','Municipality','Title']].merge(
    index_postcodes, how='right', left_on='Key', right_on='Buurt2019')
index_plaatsen = index_plaatsen.drop('Municipality',axis=1).set_index('PC6', drop=True)
index_plaatsen.head(30)
index_plaatsen.to_csv('Data/index_plaatsen.csv', sep=';')

         Buurt2019  Wijk2019 Gemeente2019     PC6
PC6
1011AB  BU03630400  WK036304       GM0363  1011AB
1011AC  BU03630400  WK036304       GM0363  1011AC
1011AD  BU03630400  WK036304       GM0363  1011AD
1011AE  BU03630400  WK036304       GM0363  1011AE
1011AG  BU03630403  WK036304       GM0363  1011AG
Unnamed: 0           int64
Description         object
DetailRegionCode    object
Key                 object
Municipality        object
Title               object
dtype: object
Buurt2019       object
Wijk2019        object
Gemeente2019    object
PC6             object
dtype: object

       Description         Key  Title   Buurt2019  Wijk2019 Gemeente2019
PC6
9468AA         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AB         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AC         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AD         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AE         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AG         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AH         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AJ         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AK         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AL         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AM         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AN         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AP         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AR         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AS         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AV         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AW         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468AX         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BA         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BB         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BC         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BD         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BE         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BG         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BH         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BJ         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BK         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BL         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BM         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680
9468BN         NaN  BU16800000  Annen  BU16800000  WK168000       GM1680

In [61]:
onderzoek = pd.read_csv('Data/CBS_PC6_selectie.csv', sep=",", index_col=0)
print(onderzoek.head(5))
print(onderzoek.shape)

      PC6  INWONER   MAN  VROUW  INW_014  INW_1524  INW_2544  INW_4564  \
1  1011AB      5.0   5.0    0.0      0.0       0.0       5.0       0.0
2  1011AC     25.0  15.0   10.0      0.0       0.0      10.0       0.0
3  1011AD      0.0   0.0    0.0      0.0       0.0       0.0       0.0
4  1011AE      0.0   0.0    0.0      0.0       0.0       0.0       0.0
5  1011AG     10.0   5.0    0.0      0.0       0.0       5.0       0.0

   INW_65PL  AANTAL_HH  GEM_HH_GR  WONING  WON_MRGEZ  UITKMINAOW  \
1       0.0        5.0        1.4     0.0        0.0         0.0
2       5.0       20.0        1.5     5.0        5.0         0.0
3       0.0        0.0        NaN     0.0        0.0         0.0
4       0.0        0.0        NaN     0.0        0.0         0.0
5       0.0        5.0        1.6     0.0        0.0         0.0

   Perc_NW_migracht  Gemcode2019 Gemeentenaam2019
1               NaN          363        Amsterdam
2              20.0          363        Amsterdam
3               NaN          363        Amsterdam
4               NaN          363        Amsterdam
5               NaN          363        Amsterdam
(157023, 17)

In [62]:
onderzoek.describe()

,INWONER,MAN,VROUW,INW_014,INW_1524,INW_2544,INW_4564,INW_65PL,AANTAL_HH,GEM_HH_GR,WONING,WON_MRGEZ,UITKMINAOW,Perc_NW_migracht,Gemcode2019
count,156810.000000,156810.000000,156810.000000,156810.000000,156810.000000,156810.000000,156810.000000,156810.000000,156810.000000,137324.000000,156810.000000,156810.000000,156810.000000,124604.000000,157023.000000
mean,40.477074,19.937217,20.351189,5.521236,4.539825,11.357566,9.906256,5.455232,20.023277,2.084678,18.889133,10.397519,2.923155,20.658807,415.164422
std,37.923528,19.741885,19.367376,8.640256,11.503882,15.545825,10.536750,10.964677,22.160447,0.620100,19.956008,20.454487,7.824927,23.333988,240.324323
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,14.000000
25%,20.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.600000,10.000000,0.000000,0.000000,0.000000,228.000000
50%,35.000000,15.000000,20.000000,0.000000,0.000000,10.000000,10.000000,0.000000,20.000000,2.000000,15.000000,0.000000,0.000000,10.000000,363.000000
75%,50.000000,25.000000,25.000000,10.000000,5.000000,15.000000,15.000000,10.000000,25.000000,2.500000,25.000000,20.000000,5.000000,30.000000,546.000000
max,2020.000000,1385.000000,1145.000000,290.000000,1365.000000,880.000000,580.000000,335.000000,2020.000000,6.000000,800.000000,800.000000,1290.000000,100.000000,983.000000

In [63]:
# Hoeveel data hebben we niet in de 'selectie'?
ontbrekend = set(data_postcodes.index) - set(onderzoek['PC6'])
len(ontbrekend)

303266

In [64]:
ontbrekend

{'5271LG',
 '4363AX',
 '8511AM',
 '6466HB',
 '4765BP',
 '7711LC',
 '9341AR',
 '5502RE',
 '7261BD',
 '3432CE',
 '8754GN',
 '7596NZ',
 '3116HJ',
 '5472LD',
 '3112PK',
 '5554NZ',
 '5815CL',
 '3833AZ',
 '1852JK',
 '4501EG',
 '4105VX',
 '2102LC',
 '2182GK',
 '5827AB',
 '6641PX',
 '1971NS',
 '1648HA',
 '6991BE',
 '1697KJ',
 '7122MC',
 '7916TV',
 '1741TH',
 '2265BJ',
 '2651LX',
 '8531NN',
 '2215JR',
 '7554SB',
 '4571AX',
 '7833JD',
 '5143JK',
 '7741JW',
 '8061AE',
 '2224SK',
 '1628XS',
 '2235CR',
 '1766GK',
 '2132PP',
 '3738DS',
 '7482TP',
 '3223PM',
 '1741TJ',
 '9766PN',
 '3861MB',
 '4157GC',
 '1785EB',
 '8431PM',
 '1645TE',
 '1754JD',
 '7651AV',
 '2406KT',
 '7664VM',
 '3331KS',
 '4381JW',
 '1946BB',
 '5401LK',
 '9171GC',
 '4102AN',
 '7101ZS',
 '5281LR',
 '2715GC',
 '3881RM',
 '5491AS',
 '5151GK',
 '3201CV',
 '6245LS',
 '4337TE',
 '2274VL',
 '5663EP',
 '1785RK',
 '6681GL',
 '4241XE',
 '6074CZ',
 '5461EG',
 '4251JX',
 '4386HG',
 '9451JA',
 '5703AT',
 '3112LJ',
 '7261DG',
 '8701KX',
 '7841CJ',
 '4388BP',
 '9502VZ',
 '1625GE',
 '6124AX',
 '8413NW',
 '5451HJ',
 '1391JA',
 '9283TS',
 '2912AP',
 '2672LG',
 '6603EC',
 '2724AL',
 '9571BL',
 '6951MR',
 '5328AS',
 '4708EB',
 '6081NJ',
 '7782RW',
 '4561WD',
 '5351HA',
 '1452PD',
 '3901AE',
 '2242AX',
 '2672GC',
 '4102BD',
 '4003JK',
 '6923CG',
 '7391ZK',
 '3353CV',
 '9254AA',
 '3481DR',
 '2951VD',
 '3607LR',
 '5482EW',
 '2973XC',
 '3351CX',
 '3922GH',
 '7671RE',
 '4388HA',
 '3223XA',
 '2914XA',
 '8771SW',
 '6006TT',
 '5361SV',
 '2713EH',
 '3131ZJ',
 '2678LM',
 '4461PH',
 '3897LK',
 '5435XH',
 '3621PB',
 '3862PM',
 '1703GP',
 '3437PK',
 '4175EK',
 '4331LZ',
 '9255JX',
 '4695CC',
 '5684LV',
 '3905SG',
 '3146SK',
 '5143TB',
 '8355CD',
 '9648GD',
 '1901XZ',
 '5803CZ',
 '1131WP',
 '3911HC',
 '9528PR',
 '3904TA',
 '2286LP',
 '4871ZW',
 '4171AS',
 '1223MH',
 '9663SK',
 '2965CH',
 '3225EA',
 '5662JD',
 '7391CE',
 '5321JW',
 '1782BE',
 '3334GK',
 '2712JT',
 '9584AA',
 '1437CG',
 '4698CE',
 '7442SP',
 '8732ED',
 '4336DM',
 '2951PG',
 '7214BH',
 '9781TE',
 '1161EB',
 '4431EN',
 '1775GA',
 '1218BA',
 '7481PP',
 '5373EJ',
 '2181KE',
 '7462GX',
 '8445SZ',
 '1688WJ',
 '6285AV',
 '9684VC',
 '5446AC',
 '6661JR',
 '7227DL',
 '3141JD',
 '7782RK',
 '6941CB',
 '5684EE',
 '9284TB',
 '4331LX',
 '8701XT',
 '4384LS',
 '6181JH',
 '8471GR',
 '5384CH',
 '2061DG',
 '4411CD',
 '1121XB',
 '6067GW',
 '8171MB',
 '2051EN',
 '3994ER',
 '3271TC',
 '6305BH',
 '1713JA',
 '9944TA',
 '6011SG',
 '4335GZ',
 '5061NP',
 '5103BL',
 '5741KM',
 '4561LM',
 '1971XH',
 '7091TE',
 '6325HB',
 '1911MD',
 '3905NV',
 '9207JZ',
 '5711GC',
 '9321EB',
 '3897AH',
 '7707BE',
 '1624VP',
 '2253AD',
 '3851GS',
 '5582HN',
 '1213PW',
 '3994VK',
 '5142TE',
 '6333BJ',
 '5991BR',
 '6419EL',
 '1945SX',
 '2061JX',
 '8251LB',
 '7964KV',
 '2361TB',
 '2361XD',
 '5506AM',
 '1625AA',
 '3738SJ',
 '7064BX',
 '7131BD',
 '9959PV',
 '6952GE',
 '8255KB',
 '3267AN',
 '5091AG',
 '7443ZB',
 '4726AZ',
 '3353BK',
 '4651SE',
 '2727GX',
 '4615KJ',
 '9919BM',
 '4043JD',
 '4707TL',
 '2675CZ',
 '9697NB',
 '7136KL',
 '6671ZE',
 '9203AX',
 '7001AR',
 '2631VT',
 '5143HK',
 '9886PB',
 '1212AD',
 '6671GL',
 '2718AJ',
 '6432EV',
 '2671HV',
 '6971BV',
 '4231AM',
 '1431VV',
 '1921EJ',
 '8232XG',
 '7482VJ',
 '6991DW',
 '9645PR',
 '6961RB',
 '3131TC',
 '6367JT',
 '7944BL',
 '1221CP',
 '6616AL',
 '5402ZG',
 '4494NZ',
 '9321AJ',
 '1981CH',
 '7941EK',
 '7552ZR',
 '9967PC',
 '2951ER',
 '8601CV',
 '7814TA',
 '5761CN',
 '4204GK',
 '2861CE',
 '1602RN',
 '5428GK',
 '9801HA',
 '4307AC',
 '1461JA',
 '6661DE',
 '5583CP',
 '3206TE',
 '6114KA',
 '8191KJ',
 '3621WK',
 '6671ZL',
 '1795HB',
 '6412EP',
 '5712JW',
 '3834CS',
 '9251GX',
 '6132SR',
 '9298RK',
 '7891LA',
 '8521LS',
 '3994LH',
 '5321VM',
 '2391GZ',
 '1427AW',
 '9696XR',
 '7471GW',
 '5554PK',
 '1403PZ',
 '6659BH',
 '4207EC',
 '5408RC',
 '2394GK',
 '2988CT',
 '7607XN',
 '7152CJ',
 '7587GB',
 '6001GL',
 '1862CX',
 '1871EA',
 '1902NV',
 '8314BD',
 '2271RE',
 '1391BG',
 '6987BS',
 '5581WB',
 '9203EE',
 '5751BL',
 '9101CC',
 '8711LG',
 '3235BB',
 '1406KM',
 '7157CK',
 '6301ES',
 '3437RL',
 '2441AE',
 '1687BC',
 '2402ES',
 '6905BM',
 '5831KV',
 '2274XP',
 '3224BK',
 '1613DA',
 '4231BX',
 '1761AV',
 '7641KG',
 '5706HV',
 '5525KV',
 '5283XL',
 '3203XD',
 '9302GM',
 '6431XD',
 '7602BA',
 '1424AS',
 '6311BC',
 '6681GH',
 '3621EM',
 '5251XE',
 '4331KR',
 '7101PB',
 '5552HH',
 '5553CG',
 '1619JD',
 '8441GB',
 '8255AM',
 '5103PL',
 '3742CS',
 '3892XP',
 '6852PG',
 '6102AL',
 '2725PH',
 '5491CN',
 '9677RM',
 '1781GD',
 '4527AZ',
 '6411HR',
 '4191TD',
 '8244BA',
 '6325EE',
 '7475DL',
 '2421LD',
 '3131AD',
 '2361XE',
 '7635LB',
 '6444HK',
 '3732GK',
 '9351NC',
 '9161BL',
 '4614CB',
 '2071EN',
 '7881KJ',
 '2727BP',
 '4335JE',
 '5345DE',
 '8531JG',
 '2984GM',
 '6446RX',
 '4381WV',
 '2421XX',
 '7241AE',
 '6466KK',
 '3781AA',
 '5374JZ',
 '1911JP',
 '2182VL',
 '3262TK',
 '3906BZ',
 '5271RX',
 '5711EX',
 '7442CP',
 '3261AL',
 '4421DM',
 '2731CT',
 '3206RE',
 '3437CX',
 '1901BK',
 '1901GW',
 '5694WG',
 '4471RB',
 '2201BE',
 '3344PL',
 '8855HJ',
 '3906EN',
 '6463CA',
 '5591DE',
 '8603XV',
 '9684XC',
 '4791RC',
 '6372CW',
 '3162PM',
 '9418PC',
 '4331CX',
 '6881KT',
 '6913AA',
 '8474BC',
 '8071CG',
 '1601EB',
 '6644BA',
 '4698CT',
 '8308PB',
 '5408PT',
 '7151TV',
 '3443HB',
 '3842EJ',
 '1132XV',
 '6932BZ',
 '8408HP',
 '4161AH',
 '8084BD',
 '5358NB',
 '3642ZL',
 '4351RH',
 '8805TH',
 '4702LH',
 '9606PZ',
 '3848DN',
 '6041VK',
 '5346JL',
 '9502HP',
 '1962EL',
 '4341LA',
 '1411LS',
 '4201ZC',
 '7905CB',
 '1215EX',
 '4105VT',
 '4695RK',
 '5251LH',
 '5591TT',
 '3243AK',
 '7131AC',
 '5447AL',
 '2211LD',
 '8442PD',
 '5343HE',
 '6077NL',
 '7722SP',
 '4661CK',
 '7905BV',
 '4641JR',
 '9983PM',
 '8303BK',
 '8561CP',
 '6061ED',
 '4701JL',
 '1602XV',
 '3723VE',
 '9648ML',
 '9422CP',
 '6852GD',
 '1705KA',
 '3131CC',
 '3601CG',
 '8711DL',
 '8601AC',
 '9765BA',
 '1131CH',
 '1951GR',
 '4876BK',
 '2242NC',
 '1511VT',
 '3984KR',
 '1135VZ',
 '4871ZA',
 '3628BN',
 '9976VD',
 '2967LA',
 '6041TL',
 '4641HA',
 '3772TN',
 '7007KA',
 '8701DV',
 '2361TL',
 '3769XC',
 '4451NV',
 '4872XL',
 '4421RT',
 '9285NT',
 '8141TJ',
 '6107AC',
 '7766BW',
 '1217PA',
 '3111PV',
 '5476VK',
 '3886MK',
 '2631VR',
 '6602HM',
 '3993EJ',
 '7631BG',
 '5581JC',
 '7601EK',
 '3985RA',
 '8101CC',
 '6081EC',
 '2273VJ',
 '8605BK',
 '1775AD',
 '3971GJ',
 '3286BA',
 '7156RN',
 '9075NK',
 '2121BS',
 '8281PM',
 '4241CG',
 '5555LM',
 '5331RD',
 '5672ED',
 '5268LW',
 '7596NS',
 '1693EE',
 '6417CA',
 '2671CW',
 '1972RD',
 '9351DE',
 '2271XL',
 '2377CW',
 '7553GN',
 '8341PK',
 '8061PL',
 '5462GW',
 '2661BL',
 '2291GG',
 '1437CH',
 '5161TL',
 '8862WB',
 '5281PH',
 '9363AG',
 '1171JJ',
 '3203XA',
 '6262NS',
 '9695AD',
 '7211CR',
 '4384JC',
 '6245EX',
 '1852GM',
 '2132HV',
 '9138CC',
 '5986AK',
 '3771RN',
 '1742NL',
 '5343EA',
 '4254BB',
 '4907GG',
 '7651NA',
 '8406ER',
 '6591ZS',
 '6031BX',
 '7722AC',
 '5813CG',
 '8211AR',
 '1862EK',
 '5104HD',
 '7552DB',
 '8154HL',
 '8426GK',
 '2991LH',
 '9321HH',
 '9503EX',
 '7908VW',
 '4751TZ',
 '6626AB',
 '4876VL',
 '6071GG',
 '4493MC',
 '1689LG',
 '2201ZS',
 '3256LB',
 '3171AD',
 '9291AK',
 '5424SM',
 '2661KK',
 '7918TV',
 '4209SK',
 '4901LE',
 '3201TG',
 '7491NN',
 '8096PZ',
 '4141AV',
 '3601EL',
 '5252CK',
 '5688LZ',
 '7555JV',
 '2957JC',
 '8431PH',
 '3437AG',
 '8304EW',
 '2405AG',
 '3461JG',
 '3432BP',
 '7651KA',
 '2161TP',
 '3851AC',
 '4157JJ',
 '4623AZ',
 '5081XX',
 '4691ED',
 '7551DM',
 '4624AJ',
 '7711ZG',
 '9642KB',
 '3132AB',
 '2201ZA',
 '6851GS',
 '5081PH',
 '5345JX',
 '8488BH',
 '9351NS',
 '7591AK',
 '9611KH',
 '6136AT',
 '2921AR',
 '5751AR',
 '2341KX',
 '2353RS',
 '7824BJ',
 '4635CB',
 '2403ER',
 '3263BP',
 '7241CS',
 '3904SC',
 '6166GN',
 '9521BZ',
 '3371EH',
 '7841KC',
 '4796RH',
 '5113BK',
 '3351LH',
 '1704SC',
 '7215RD',
 '1531GK',
 '3438GG',
 '3262JN',
 '1403LB',
 '2741GJ',
 '3893GW',
 '5341AR',
 '2273KR',
 '7391AG',
 '6921PK',
 '3331HD',
 '6411VH',
 '6681AS',
 '5131ZD',
 '1141SV',
 '2135AR',
 '6581JL',
 '9101LZ',
 '5401ZT',
 '6904PB',
 '5427SC',
 '2235BK',
 '6462VE',
 '6604KN',
 '4436AN',
 '1443WS',
 '5551TL',
 '8711DB',
 '3773BA',
 '3465JC',
 '6438GR',
 '7121AK',
 '4681CJ',
 '9269VV',
 '6988AL',
 '3411VC',
 '7877TC',
 '5954CK',
 '6904PZ',
 '4782PC',
 '2406DC',
 '5674PH',
 '6088HS',
 '2718AE',
 '3131ZH',
 '3431BV',
 '3431EA',
 '2665JH',
 '4725AV',
 '9331KN',
 '3993RB',
 '3925KV',
 '5341CB',
 '3203VJ',
 '9761HN',
 '9101PH',
 '1911HK',
 '9663RV',
 '4041RG',
 '8331KB',
 '6595ML',
 '7574PE',
 '1906BE',
 '3905XK',
 '2161HV',
 '9561GG',
 '8395PC',
 '9761JD',
 '8621CR',
 '1607CE',
 '1156BS',
 '4754BJ',
 '3295PD',
 '3274AD',
 '7061BG',
 '2291DG',
 '3434XL',
 '9861BS',
 '5144XJ',
 '4231BE',
 '5172DC',
 '8252LH',
 '8244AV',
 '1676GA',
 '5712XJ',
 '6584CR',
 '8302KR',
 '8072AA',
 '7156LB',
 '9077SM',
 '8862DT',
 '5061XH',
 '9678TD',
 '6659AT',
 '5161SL',
 '2993HC',
 '6414AL',
 '9285RR',
 '6602ZK',
 '6641WV',
 '5701RG',
 '8302NC',
 '4102EB',
 '1761ZS',
 '5961GN',
 '2991XL',
 '3721MC',
 '3721WW',
 '2729LN',
 '5581TA',
 '4132XH',
 '7741XH',
 '7811KT',
 '2245AA',
 '3431BZ',
 '1706BA',
 '9832PD',
 '8629RW',
 '5301TN',
 '1951EP',
 '2406BV',
 '6414CJ',
 '6641CP',
 '7011EG',
 '2471PB',
 '6598AC',
 '7813DL',
 '9354TJ',
 '2215RC',
 '3852GS',
 '6369GG',
 '3961XC',
 '3354BP',
 '9934GC',
 '9333PL',
 '6129PJ',
 '6604CT',
 '4715PC',
 '6267EL',
 '2274HG',
 '6417EE',
 '7482NB',
 '3882MC',
 '9439TH',
 '3447GZ',
 '9415RD',
 '3971PR',
 '7035AE',
 '5121AJ',
 '2242HM',
 '9601XC',
 '2221MH',
 '3245KG',
 '6281BP',
 '2203ZD',
 '5866CC',
 '2283XB',
 '7701XL',
 '9953SN',
 '3122TK',
 '1689GA',
 '1951NB',
 '3905WZ',
 '7824NR',
 '2981AR',
 '4007SP',
 '4845EE',
 '2042NZ',
 '3771DZ',
 '2181JJ',
 '3851CX',
 '9871PB',
 '6461GT',
 '7475CD',
 '7451SR',
 '2342BH',
 '5831JS',
 '5801AA',
 '5735EJ',
 '6645KC',
 '6582BZ',
 '7621AH',
 '8491BS',
 '2101AX',
 '2685RE',
 '5425RL',
 '7244AS',
 '3607MR',
 '3723RK',
 '6961ZA',
 '5341AB',
 '1944ED',
 '3443CG',
 '1396KS',
 '7382BZ',
 '1213CK',
 '6295AC',
 '5706JV',
 '7711VJ',
 '7772BG',
 '4651NX',
 '8231DB',
 '8265MD',
 '3852PM',
 '8061ZE',
 '4021VT',
 '8809HX',
 '1704MC',
 '4926RA',
 '3831SJ',
 '6596DX',
 '3981CM',
 '7926VB',
 '4336CL',
 '3161LT',
 '2144KE',
 '4944XB',
 '4724GB',
 '4872PB',
 '6011RZ',
 '7101HD',
 '6026AH',
 '3972DR',
 '8071VH',
 '6136KC',
 '6658XA',
 '4873NA',
 '6445XE',
 '2631WX',
 '6247AJ',
 '2901CW',
 '5683BS',
 '2685BJ',
 '4331HK',
 '6951JD',
 '3641XA',
 '9843DB',
 '7773CP',
 '4724DZ',
 '6281AE',
 '7681XA',
 '5707AE',
 '7742RS',
 '3161KP',
 '4382LE',
 '5491XE',
 '6431LN',
 '5554NM',
 '9301SC',
 '3741ZB',
 '9915TC',
 '6904NA',
 '5384DZ',
 '1391MB',
 '8621BK',
 '2652GR',
 '3123ET',
 '4374ME',
 '8191JZ',
 '4024HR',
 '1606NC',
 '4301EP',
 '3117MT',
 '3434AT',
 '8741KD',
 '3722TB',
 '5143NE',
 '6367EV',
 '9233LA',
 '6101AC',
 '1784LN',
 '1391DS',
 '9161CS',
 '4132GD',
 '4691DR',
 '3931PJ',
 '3135WJ',
 '2681KS',
 '1443VL',
 '4461NX',
 '2291BV',
 '9262SJ',
 '2751BS',
 '4909BL',
 '4651XE',
 '7588RE',
 '4339NB',
 '4844CP',
 '6431CP',
 '6374RX',
 '5111DS',
 '7645AR',
 '7975PE',
 '3931DB',
 '1873HX',
 '4207VG',
 '9231HX',
 '6001XA',
 '6645KG',
 ...}

Normaliseer met aantal inwoners: MAN, VROUW, INW_xxx, UITKMINAOW,
Normaliseer met aantal huishoudens: WON_MRGEZ, 
Laat weg: INWONER, AANTAL_HH, Perc_NW_migracht. Deze laatse kolom bevat veel missende waarden.

In [65]:
def join_PC6(uitslagen,demo):
    # Omdat de data per PC6 is gemeten is het logisch om eerst met de PC6 de databases te koppelen.
    return uitslagen.join(demo)

In [66]:
feature_select = ['MAN','VROUW','UITKMINAOW','GEM_HH_GR']
# 'WON_MRGEZ' delen door aantal huishoudens levert niet een fractie van aantal huishoudens(waarde tussen 0 en 1) op.
# Gebruik deze feature pas als we weten wat het betekent.

In [67]:
def normaliseer_PC6(df, features=None, dropNA=True, drempel = None):
    # verwijder ook NaN's ?
    
    # Lijsten van alle mogelijke features, opgedeeld in hoe ze verwerkt moeten worden
    INW = [] # Wordt gevuld met inwoners in leeftijdsgroep en features in overig_persoon
    perc = ['stemperc'] # Opkomst en percentages stemmen worden altijd toegevoegd.
    huish = ['WON_MRGEZ']
    overig_persoon = ['MAN','VROUW','UITKMINAOW']
    overig_normaal = ['GEM_HH_GR'] # Features die al genormaliseerd zijn.
    zwarte_lijst = ['Perc_NW_migracht'] # Teveel missende waarden in deze kolom
    
    # verwijder kolommen 
    def overbodig(lijst, checklist):
        for c in lijst:
            if c not in checklist:
                lijst.remove(c)
        return lijst
    
    if features:
        huish = overbodig(huish, features)
        overig_persoon = overbodig(overig_persoon, features)
        overig_normaal = overbodig(overig_normaal, features)
        
    if drempel:
        stuk = df[df['INWONER'] >= drempel]
        df = df.loc[ stuk.index ]
        
    for col in df.columns:
        if col in overig_persoon or re.search('^INW_',col):
            df[col] = df[col] / df['INWONER']
            INW.append(col)
        elif col in huish:
            df[col] = df[col] / df['AANTAL_HH']
        elif col in zwarte_lijst:
            df.drop(col, axis=1,inplace=True)
        elif re.search('percentage$',col):
            perc.append(col)
            
    if features:
        cols = INW+overig_normaal+huish+perc
        print(cols)
        df = df[cols]
        
    if dropNA:
        df = df.dropna(axis=0)
    
    return df

In [68]:
EP2019, register = laad_uitslagenPC6("adressen_gl_prioriteit/adressen_EP2019.csv")
EP2019.head()

C:\Users\DKuipers\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

,nummer,lat,lon,stemperc,prioriteit,totaal,opkomst,D66_stemmen,GL_stemmen,PvdA_stemmen,PvdD_stemmen,SP_stemmen,DENK_stemmen,D66_percentage,GL_percentage,PvdA_percentage,PvdD_percentage,SP_percentage,DENK_percentage
PC6,,,,,,,,,,,,,,,,,,,
1011AB,111.0,52.377773,4.905684,0.796163,0.0,417.0,0.429675,51.0,153.0,80.0,35.0,5.0,8.0,0.122302,0.366906,0.191847,0.083933,0.011990,0.019185
1011AC,147.0,52.377385,4.908563,0.796163,0.0,417.0,0.429675,51.0,153.0,80.0,35.0,5.0,8.0,0.122302,0.366906,0.191847,0.083933,0.011990,0.019185
1011AD,1.0,52.376820,4.904492,0.741339,0.0,433.0,0.481914,54.0,118.0,102.0,36.0,11.0,0.0,0.124711,0.272517,0.235566,0.083141,0.025404,0.000000
1011AE,145.0,52.376399,4.910231,0.796163,0.0,417.0,0.429675,51.0,153.0,80.0,35.0,5.0,8.0,0.122302,0.366906,0.191847,0.083933,0.011990,0.019185
1011AG,98.5,52.375865,4.902948,0.741339,0.0,433.0,0.481914,54.0,118.0,102.0,36.0,11.0,0.0,0.124711,0.272517,0.235566,0.083141,0.025404,0.000000

In [69]:
demo = laad_CBSdataPC6('Data/'+PC6_selectie)
demo.head()

,INWONER,MAN,VROUW,INW_014,INW_1524,INW_2544,INW_4564,INW_65PL,AANTAL_HH,GEM_HH_GR,WONING,WON_MRGEZ,UITKMINAOW,Perc_NW_migracht,Gemcode2019
PC6,,,,,,,,,,,,,,,
1011AB,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,1.4,0.0,0.0,0.0,NaN,363
1011AC,25.0,15.0,10.0,0.0,0.0,10.0,0.0,5.0,20.0,1.5,5.0,5.0,0.0,20.0,363
1011AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,363
1011AE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,363
1011AG,10.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,1.6,0.0,0.0,0.0,NaN,363

In [70]:
DataPC6 = join_PC6(EP2019,demo)
#print(DataPC6.columns)
print(DataPC6.head())
print(DataPC6.shape)

#test = DataPC6[DataPC6['INWONER'] >= 10]
#DataPC6.loc[test.index]

backup = DataPC6[['INWONER','prioriteit']]
DataPC6 = normaliseer_PC6(DataPC6,feature_select, drempel = 10)
DataPC6.describe()

        nummer        lat       lon  stemperc  prioriteit  totaal   opkomst  \
PC6
1011AB   111.0  52.377773  4.905684  0.796163         0.0   417.0  0.429675
1011AC   147.0  52.377385  4.908563  0.796163         0.0   417.0  0.429675
1011AD     1.0  52.376820  4.904492  0.741339         0.0   433.0  0.481914
1011AE   145.0  52.376399  4.910231  0.796163         0.0   417.0  0.429675
1011AG    98.5  52.375865  4.902948  0.741339         0.0   433.0  0.481914

        D66_stemmen  GL_stemmen  PvdA_stemmen  ...  INW_2544  INW_4564  \
PC6                                            ...
1011AB         51.0       153.0          80.0  ...       5.0       0.0
1011AC         51.0       153.0          80.0  ...      10.0       0.0
1011AD         54.0       118.0         102.0  ...       0.0       0.0
1011AE         51.0       153.0          80.0  ...       0.0       0.0
1011AG         54.0       118.0         102.0  ...       5.0       0.0

        INW_65PL  AANTAL_HH  GEM_HH_GR  WONING  WON_MRGEZ  UITKMINAOW  \
PC6
1011AB       0.0        5.0        1.4     0.0        0.0         0.0
1011AC       5.0       20.0        1.5     5.0        5.0         0.0
1011AD       0.0        0.0        NaN     0.0        0.0         0.0
1011AE       0.0        0.0        NaN     0.0        0.0         0.0
1011AG       0.0        5.0        1.6     0.0        0.0         0.0

        Perc_NW_migracht  Gemcode2019
PC6
1011AB               NaN        363.0
1011AC              20.0        363.0
1011AD               NaN        363.0
1011AE               NaN        363.0
1011AG               NaN        363.0

[5 rows x 34 columns]
(149050, 34)
['MAN', 'VROUW', 'INW_014', 'INW_1524', 'INW_2544', 'INW_4564', 'INW_65PL', 'UITKMINAOW', 'GEM_HH_GR', 'stemperc', 'D66_percentage', 'GL_percentage', 'PvdA_percentage', 'PvdD_percentage', 'SP_percentage', 'DENK_percentage']

,MAN,VROUW,INW_014,INW_1524,INW_2544,INW_4564,INW_65PL,UITKMINAOW,GEM_HH_GR,stemperc,D66_percentage,GL_percentage,PvdA_percentage,PvdD_percentage,SP_percentage,DENK_percentage
count,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000,129815.000000
mean,0.490464,0.502954,0.113560,0.094380,0.269591,0.240802,0.137576,0.066936,2.077614,0.566533,0.087225,0.160242,0.197828,0.052725,0.038969,0.029522
std,0.110360,0.110448,0.120404,0.133112,0.183897,0.148877,0.193655,0.113435,0.617161,0.117324,0.035926,0.075624,0.042880,0.019384,0.020908,0.058111
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.049505,0.005780,0.000000,0.014851,0.000000,0.000000,0.000000
25%,0.428571,0.444444,0.000000,0.000000,0.142857,0.142857,0.000000,0.000000,1.600000,0.486239,0.059181,0.100592,0.169001,0.039062,0.023307,0.001855
50%,0.500000,0.500000,0.100000,0.000000,0.266667,0.250000,0.066667,0.000000,2.000000,0.561333,0.081744,0.142241,0.195041,0.051339,0.035398,0.008163
75%,0.555556,0.571429,0.200000,0.157895,0.384615,0.333333,0.200000,0.117647,2.500000,0.656842,0.112219,0.212316,0.223479,0.064572,0.050866,0.029412
max,1.000000,1.000000,0.800000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,0.907937,0.217445,0.438486,0.363853,0.184035,0.139130,0.585034

## Koppelen Data Statline

In [71]:
#data_2019 = pd.read_csv('Data/'+Statline2019, sep=';', decimal=b',')
#data_2019.head()

,Wijken en buurten,Regioaanduiding/Soort regio (omschrijving),Bevolking/Geboorte en sterfte/Geboorte totaal (aantal),Bevolking/Geboorte en sterfte/Geboorte relatief (per 1 000 inwoners),Bevolking/Geboorte en sterfte/Sterfte totaal (aantal),Bevolking/Geboorte en sterfte/Sterfte relatief (per 1 000 inwoners),Energie/Gemiddeld elektriciteitsverbruik/Naar woningtype/Appartement (kWh),Energie/Gemiddeld elektriciteitsverbruik/Naar woningtype/Tussenwoning (kWh),Energie/Gemiddeld elektriciteitsverbruik/Naar woningtype/Hoekwoning (kWh),Energie/Gemiddeld elektriciteitsverbruik/Naar woningtype/Twee-onder-Ã©Ã©n-kap-woning (kWh),Energie/Gemiddeld elektriciteitsverbruik/Naar woningtype/Vrijstaande woning (kWh),Nabijheid voorzieningen/Basisonderwijs/Afstand tot school (km),Nabijheid voorzieningen/Basisonderwijs/Scholen binnen 3 km (aantal)
0,Altena,Gemeente,563,10,444,8,2050.0,2780.0,2930.0,3450.0,4150.0,0.7,2.7
1,Werkendam,Wijk,130,12,100,9,2070.0,2800.0,2890.0,3500.0,4380.0,0.8,3.9
2,Centrum Werkendam,Buurt,20,11,10,5,2290.0,2730.0,2700.0,3470.0,3960.0,1.0,4.0
3,Burchtpolder,Buurt,20,14,15,10,1990.0,2400.0,2820.0,3440.0,3950.0,0.6,4.0
4,Beekdaelen,Gemeente,263,7,381,11,2170.0,2990.0,3100.0,3210.0,4010.0,0.9,3.3

In [73]:
# Kan ook prima de csv aanmaken zonder deze functie.
def laad_Statline(string, sep=';', downloaded=True, version=3, zoekterm='Wijk'):
    """Laad data afkomstig van Statline standaard (Odata3).
    Data die al is gedownload als CSV moet extra gecontroleerd worden.
    Standaard worden alleen de wijken behouden, vul anders de zoekterm in."""
    
    if downloaded:
        df = pd.read_csv(string, sep=sep, decimal=b',')
        df = df[df["Regioaanduiding/Soort regio (omschrijving)"].str.strip() == zoekterm].drop("Regioaanduiding/Soort regio (omschrijving)",axis=1)
    elif version == 3:
        import CBSparserOData3
        df = CBSparserOData3.get_observations(string,filtersoort = 2, plaatsen = zoekterm)
    elif version == 4:
        import CBSparserOData4
        if wijken == 'Wijk':
            print("Foutmelding: In OData4 moet de zoekterm 'BU, WK, of GM zijn.'")
            pass
        df = CBSparserOData4.parserOData4(string,zoekterm)
    else:
        pass
    
    # Beperk aantal kolommen?
    return df

In [83]:
WeB2019 = laad_Statline("84583NED", downloaded=False, version=3, zoekterm="Wijk")
print(WeB2019.head())
print(WeB2019.columns)

  WijkenEnBuurten  ID                            Gemeentenaam_1 SoortRegio_2  \
0      NL00         0  Nederland                                  Land
1      GM1680       1  Aa en Hunze                                Gemeente
2      WK168000     2  Aa en Hunze                                Wijk
3      BU16800000   3  Aa en Hunze                                Buurt
4      BU16800009   4  Aa en Hunze                                Buurt

   Codering_3 IndelingswijzigingWijkenEnBuurten_4  AantalInwoners_5  Mannen_6  \
0  NL00                                         .          17282163   8581086
1  GM1680                                       .             25386     12659
2  WK168000                                     1              3595      1755
3  BU16800000                                   1              3450      1675
4  BU16800009                                   1               150        80

   Vrouwen_7  k_0Tot15Jaar_8  ...  AfstandTotKinderdagverblijf_97  \
0    8701077         2739819  ...                             0.6
1      12727            3462  ...                             1.2
2       1845             570  ...                             0.5
3       1775             555  ...                             0.5
4         75              15  ...                             1.7

   AfstandTotSchool_98  ScholenBinnen3Km_99  OppervlakteTotaal_100  \
0                  0.7                 10.9                4154338
1                  1.2                  1.8                  27887
2                  0.8                  2.6                   1478
3                  0.8                  2.6                    252
4                  2.0                  1.2                   1226

   OppervlakteLand_101  OppervlakteWater_102  MeestVoorkomendePostcode_103  \
0              3367109                787228                             .
1                27609                   279                             .
2                 1466                    13                             .
3                  252                     0                          9468
4                 1213                    13                          9468

   Dekkingspercentage_104  MateVanStedelijkheid_105  \
0                     NaN                       2.0
1                     NaN                       5.0
2                     NaN                       5.0
3                     1.0                       5.0
4                     1.0                       5.0

   Omgevingsadressendichtheid_106
0                          1994.0
1                           280.0
2                           393.0
3                           407.0
4                            59.0

[5 rows x 108 columns]
Index(['WijkenEnBuurten', 'ID', 'Gemeentenaam_1', 'SoortRegio_2', 'Codering_3',
       'IndelingswijzigingWijkenEnBuurten_4', 'AantalInwoners_5', 'Mannen_6',
       'Vrouwen_7', 'k_0Tot15Jaar_8',
       ...
       'AfstandTotKinderdagverblijf_97', 'AfstandTotSchool_98',
       'ScholenBinnen3Km_99', 'OppervlakteTotaal_100', 'OppervlakteLand_101',
       'OppervlakteWater_102', 'MeestVoorkomendePostcode_103',
       'Dekkingspercentage_104', 'MateVanStedelijkheid_105',
       'Omgevingsadressendichtheid_106'],
      dtype='object', length=108)

In [76]:
def maak_database(postcodes, uitslagen, PC6, Statline=None save_as=None, features=None, features_Statline=None):
    """Combineer stemuitslagen met data van het CBS, eventueel met data van Statline om lege plekken op te vullen.
    Het opvullen van missende data met geaggregreede cijfers is een goede benadering maar niet even betrouwbaar.
    Geef twee of drie pandas dataframes op. De eerste moet afkomstig zijn van https://www.cbs.nl/nl-nl/maatwerk/2019/42/buurt-wijk-en-gemeente-2019-voor-postcode-huisnummer
    Uitslagen en PC6 mogen ook een 'path' zijn. De eerste drie datasets moeten PC6 als index hebben.
    !!! De naamgeving van de kolommen in de PC6 data en OData3 is niet hetzelfde. Dit moet eerst worden afgestemd of handmatig worden gecorrigeerd in deze functie.
    De Statline-variabele is een tuple met drie delen:
    [0] -> De database die je ophaald met laad_Statline, het niveau van aggregratie:
    [1] 'Wijk', 'Buurt' of 'Gemeente', mag ook meerdere aangeven in een lijst
    [2] De kolommen waarmee een merge moet worden gedaan. Soms is het jaartal hier in verwerkt.
    PC6 die nog ontbreken worden geaggregeerd tot PC4 en daar wordt de Statline Data bij gezocht.
    Als features een lijst is worden uit ALLE TABELLEN alleen kolommen gebruikt als ze daar in voorkomen.
    Zorg ervoor dat je weet hoe elke individuele tabel eruit ziet voordat je ze samenvoegd.
    Uitslagen mogen ook meerdere datasets zijn, er wordt dan gebruik gemaakt van prefixes.
    Functie kan data meteen opslaan en geeft altijd een paar cijfers over hoeveel postcodes er niet voorkomen en hoeveel er zij geaggregeerd.
    """
    
    if type(postcodes) == str:
        df_postcodes = pd.read_csv(postcodes, sep = ";")
        df_postcodes = df_postcodes.groupby('PC6').median().drop('Huisnummer', axis=1)
        #print(df_postcodes)
        
        for col in df_postcodes.columns:
            df_postcodes[col] = df_postcodes[col].astype('int')
    else:
        df_postcodes = postcodes
    
    # if list
    if type(uitslagen) == str:
        df_uitslagen = laad_uitslagenPC6(uitslagen)
    else:
        df_uitslagen = uitslagen

    if type(PC6) == str:
        df_PC6 = pd.read_csv(PC6, sep=",", index_col=0)
        df_PC6 = df_PC6.groupby('PC6').median()
        df_PC6 = normaliseer_PC6(df_PC6, features=features) # test features
    else:
        df_PC6 = PC6
    
    print(df_PC6.head())
    df_PC6 = df_PC6.join((df_uitslagen, df_postcodes), how='left')
    
    # if features
    # if prioriteit
    
    if Statline:
        df_Statline = Statline[0]
        df_PC6.join(df_)
    # if features_Statline
    
    if save_as:
        df_uitslagen.to_csv(save_as, sep=';')
    
    return df_PC6

In [81]:
test = maak_database(index_plaatsen, EP2019, "Data/CBS_PC6_selectie.csv")
print(test.dtypes)
print(test.shape)

        INWONER       MAN     VROUW  INW_014  INW_1524  INW_2544  INW_4564  \
PC6
1011AB      5.0  1.000000  0.000000      0.0       0.0  1.000000  0.000000
1011AC     25.0  0.600000  0.400000      0.0       0.0  0.400000  0.000000
1011AG     10.0  0.500000  0.000000      0.0       0.0  0.500000  0.000000
1011AH     25.0  0.600000  0.400000      0.0       0.0  0.800000  0.000000
1011AJ     15.0  0.666667  0.333333      0.0       0.0  0.333333  0.333333

        INW_65PL  AANTAL_HH  GEM_HH_GR  WONING  WON_MRGEZ  UITKMINAOW  \
PC6
1011AB       0.0        5.0        1.4     0.0       0.00         0.0
1011AC       0.2       20.0        1.5     5.0       0.25         0.0
1011AG       0.0        5.0        1.6     0.0       0.00         0.0
1011AH       0.0       15.0        1.7    15.0       1.00         0.0
1011AJ       0.0       10.0        1.3    15.0       1.50         0.0

        Gemcode2019
PC6
1011AB          363
1011AC          363
1011AG          363
1011AH          363
1011AJ          363
INWONER            float64
MAN                float64
VROUW              float64
INW_014            float64
INW_1524           float64
INW_2544           float64
INW_4564           float64
INW_65PL           float64
AANTAL_HH          float64
GEM_HH_GR          float64
WONING             float64
WON_MRGEZ          float64
UITKMINAOW         float64
Gemcode2019          int64
nummer             float64
lat                float64
lon                float64
stemperc           float64
prioriteit         float64
totaal             float64
opkomst            float64
D66_stemmen        float64
GL_stemmen         float64
PvdA_stemmen       float64
PvdD_stemmen       float64
SP_stemmen         float64
DENK_stemmen       float64
D66_percentage     float64
GL_percentage      float64
PvdA_percentage    float64
PvdD_percentage    float64
SP_percentage      float64
DENK_percentage    float64
Description         object
Key                 object
Title               object
Buurt2019           object
Wijk2019            object
Gemeente2019        object
dtype: object
(137324, 39)

In [94]:
#print(test['Key'])
#print(WeB2019['Codering_3'])
#print( set(test['Key']).intersection(set(WeB2019['Codering_3'])))
test2 = test.merge(WeB2019, how='left', left_on='Key', right_on='Codering_3')
print(test2.columns)

Index(['INWONER', 'MAN', 'VROUW', 'INW_014', 'INW_1524', 'INW_2544',
       'INW_4564', 'INW_65PL', 'AANTAL_HH', 'GEM_HH_GR',
       ...
       'AfstandTotKinderdagverblijf_97', 'AfstandTotSchool_98',
       'ScholenBinnen3Km_99', 'OppervlakteTotaal_100', 'OppervlakteLand_101',
       'OppervlakteWater_102', 'MeestVoorkomendePostcode_103',
       'Dekkingspercentage_104', 'MateVanStedelijkheid_105',
       'Omgevingsadressendichtheid_106'],
      dtype='object', length=147)

## Controle kwaliteit data
In kolommen met een fractie (tussen 0 en 1) zitten nog opvallend veel datapunten met (bijna) precies 0 en 1.
Dat is erg vreemd, zeker gezien het feit dat eerder de mediaan per PC6 is genomen. (Gemiddelden hebben geen betekenis omdat het gaat om dezelfde meting met steeds een ander adres)
In welke kolommen speelt dit probleem, en in welke mate? Wat kunnen we zeggen over deze datapunten? Is dat genoeg reden om deze weg te laten?
Zie ook ???


### Uitkomst:
'GEM_HH_GR' heeft als minimum 1 en maximum 6, en is dus betrouwbaar.


De meest realistische mogelijkheid is dat we een minimum hanteren voor het aantal inwoners of huishoudens dat een PC6 moet hebben om gebruikt te mogen worden. De grootte van Ã©Ã©n straat is daarbij een goede vuistregel.

In [116]:
DataPC6 = DataPC6.join(backup['INWONER'])
for col in DataPC6.columns[0:9]:
    MIN = min(DataPC6[col])
    mins = DataPC6[ DataPC6[col] == MIN ][col]
    MAX = max(DataPC6[col])
    maxs = DataPC6[ DataPC6[col] == MAX ][col]
    print("In {} komt {}, het minimum, {} maal voor. {}, het maximum, komt {} maal voor.".format(
        col,MIN,len(mins),MAX,len(maxs)))

In MAN komt 0.0, het minimum, 1510 maal voor. 1.0, het maximum, komt 319 maal voor.
In VROUW komt 0.0, het minimum, 1363 maal voor. 1.0, het maximum, komt 394 maal voor.
In INW_014 komt 0.0, het minimum, 58422 maal voor. 0.8, het maximum, komt 1 maal voor.
In INW_1524 komt 0.0, het minimum, 67047 maal voor. 1.0, het maximum, komt 121 maal voor.
In INW_2544 komt 0.0, het minimum, 22906 maal voor. 1.0, het maximum, komt 240 maal voor.
In INW_4564 komt 0.0, het minimum, 21298 maal voor. 1.0, het maximum, komt 56 maal voor.
In INW_65PL komt 0.0, het minimum, 62850 maal voor. 1.0, het maximum, komt 975 maal voor.
In UITKMINAOW komt 0.0, het minimum, 85531 maal voor. 1.0, het maximum, komt 12 maal voor.
In GEM_HH_GR komt 1.0, het minimum, 1463 maal voor. 6.0, het maximum, komt 1 maal voor.

In [101]:
C = 'VROUW'
MIN = min(DataPC6[C])
#mins = DataPC6[ DataPC6[C] <= MIN ]
MAX = max(DataPC6[C])
#maxs = DataPC6[ DataPC6[C] >= MAX ]
extreem1 = DataPC6[DataPC6[C] >= MAX][[C,'INWONER']]
extreem2 = DataPC6[DataPC6[C] <= MIN][[C,'INWONER']]
print(extreem1.describe(),'\n',extreem2.describe())

       VROUW     INWONER
count  465.0  465.000000
mean     1.0   11.204301
std      0.0    5.338860
min      1.0    5.000000
25%      1.0   10.000000
50%      1.0   10.000000
75%      1.0   10.000000
max      1.0   45.000000
         VROUW      INWONER
count  1677.0  1677.000000
mean      0.0    10.822898
std       0.0     5.142040
min       0.0     5.000000
25%       0.0    10.000000
50%       0.0    10.000000
75%       0.0    10.000000
max       0.0    95.000000

Kolom MAN: meer dan driekwart van minimum waarden heeft 10 inwoners of minder, meer dan driekwart van maximum waarden heeft 15 inwoners of minder.
Kolom VROUW: meer dan driekwart van minimum waarden heeft 10 inwoners of minder, meer dan driekwart van maximum waarden heeft 15 inwoners of minder.

In [ ]:
# Met dank aan https://www.w3schools.com/python/python_ml_linear_regression.asp
plot_selectie = ['MAN','VROUW']
y_feature = 'GL_percentage'
fig, ax = plt.subplots( len(plot_selectie) )
kolommen = ['slope','intercept','r','p','std_err']
rijen = []

for n, feature in enumerate(plot_selectie):
    x = DataPC6[feature]
    slope, intercept, r, p, std_err = stats.linregress(x, DataPC6[y_feature])
    rij = pd.Series((slope,intercept,r,p,std_err), index = kolommen)
    rijen.append(rij)
    
    def linfunc(x):
        return slope*x + intercept
    linmodel = list(map(linfunc, x))
    ax[n].scatter(x,dataPC6[y_feature], s=0.1)

data = pd.DataFrame(rijen, index = plot_selectie)
plt.show()

Slimmer indelen:
Maak een functie die in de oorspronkelijke tabel informatie uit tekstkolommen ophaalt na het invoeren van een PC6 (van stembureau). Laat deze een kolom aanmaken die aangeeft of er straten (of adressen) zijn binnen dat kader die buiten die PC6 vallen. Bijvoorbeeld met een cijfer dat het aantal combinaties aangeeft.